@import "variables";

.modal-content {
  position: relative;
  padding: 40px 30px 30px 30px;
  .add_new_staff_container {
    .add_new_staff_head {
      h1 {
        color: rgba(2, 16, 15, 1);
        font-family: $poppins;
        font-size: 28px;
        font-weight: 600;
        margin: 0;
      }
      img {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: $pointer;
      }
    }
    .add_new_staff_input_fields {
      padding: 20px 0 30px 0;
      .new_staff_input_fields {
        display: flex;
        gap: 20px;
        .left_input_fields,
        .right_input_fields {
          width: 100%;
          .right_input_field,
          .left_input_field {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 20px;
            width: 100%;
            label {
              font-family: $poppins;
              font-size: 14px;
              font-weight: 400;
              color: rgba(0, 0, 0, 1);
            }
            .input,
            select {
              outline: none;
              border: none;
              border-radius: 10px;
              border: 1px solid rgba(238, 238, 238, 1);
              padding: 15px;
              width: 100%;
              color: $gray;
              font-family: $poppins;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
      .optional {
        display: flex;
        gap: 5px;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        label {
          font-family: $poppins;
          font-size: 14px;
          font-weight: 400;
          color: rgba(0, 0, 0, 1);
          padding: 10px 0 5px 0;
          span {
            color: $gray;
            font-family: $poppins;
            font-size: 14px;
            font-weight: 400;
          }
        }
        .input {
          outline: none;
          border: none;
          border-radius: 10px;
          border: 1px solid rgba(238, 238, 238, 1);
          padding: 15px;
          color: $gray;
          font-family: $poppins;
          font-size: 14px;
          font-weight: 400;
          // margin: 5px 0 20px 0;
        }
      }
    }
    .done_add_btn {
      .a_d_button {
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: $bgcolor;
        padding: 15px 30px;
        color: $white;
        font-family: $poppins;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
