@import "variables";

.modal-content {
  padding: 30px;
  position: relative;
  .delete_staff_dialog_container {
    .broadcast_head {
      h1 {
        color: rgba(2, 16, 15, 1);
        font-family: $poppins;
        font-size: 28px;
        font-weight: 600;
        margin: 0;
      }
      img {
        position: absolute;
        top: 25px;
        right: 20px;
        cursor: $pointer;
      }
    }
    .broadcast_message {
      display: flex;
      flex-direction: column;
      label {
        color: rgba(0, 0, 0, 1);
        font-family: $poppins;
        font-size: 14px;
        font-weight: 400;
        padding: 20px 0 5px 0;
      }
      textarea {
        padding: 15px;
        border-radius: 10px;
        border: none;
        border: 1px solid rgba(238, 238, 238, 1);
        outline: none;
        resize: none;
        color: gray;
        font-family: $poppins;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .broadcast_dialog_btn {
      margin-top: 20px;
      .btn {
        border: none;
        outline: none;
        color: $white;
        padding: 15px 45px;
        background-color: $bgcolor;
        border-radius: 10px;
        font-family: $poppins;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
