@import "variables";

.modal-content {
  // width: 622px;
  padding: 40px;
  position: relative;
  .change_theme_color_container {
    .change_theme_color_head {
      h1 {
        color: rgba(2, 16, 15, 1);
        font-family: $poppins;
        font-size: 28px;
        font-weight: 600;
        margin: 0;
      }
      img {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: $pointer;
      }
    }
    .b_themes {
      display: flex;
      gap: 50px;
      padding: 30px 0;
      .left_themes,
      .right_themes {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 255px;
        .theme {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 255px;
          .primary {
            padding: 7px 15px 7px 7px;
          }
          .primary_light,
          .text_dark,
          .danger,
          .warning,
          .background {
            padding: 7px 25px 7px 7px;
          }
          .text_medium,
          .success {
            padding: 7px 20px 7px 7px;
          }
          .text_light {
            padding: 7px 30px 7px 7px;
          }
          label {
            color: rgba(0, 0, 0, 1);
            font-family: $poppins;
            font-size: 14px;
            font-weight: 500;
          }
          input {
            width: 30px;
            height: 30px;
            border-radius: 7px;
            padding: 3px;
          }
          .color_hex {
            width: 145px;
            border-radius: 10px;
            display: flex;
            gap: 15px;
            align-items: center;
            border: 1px solid rgba(227, 227, 227, 1);
            p {
              margin: 0;
              color: $gray;
              font-family: $poppins;
              font-size: 14px;
              font-weight: 400;
            }
          }
          .primary {
            input[type="color"]::-webkit-color-swatch {
              background-color: #4282c5 !important;
              border: none;
              border-radius: 5px;
            }
            input {
              border: 1px solid #4282c5;
            }
          }
          .primary_light {
            input[type="color"]::-webkit-color-swatch {
              background-color: #ecf3f9 !important;
              border: none;
              border-radius: 5px;
            }
            input {
              border: 1px solid #ecf3f9 !important;
            }
          }
          .text_dark {
            input[type="color"]::-webkit-color-swatch {
              background-color: #02100f !important;
              border: none;
              border-radius: 5px;
            }
            input {
              border: 1px solid #02100f;
            }
          }
          .text_medium {
            input[type="color"]::-webkit-color-swatch {
              background-color: #9a9f9f !important;
              border: none;
              border-radius: 5px;
            }
            input {
              border: 1px solid #9a9f9f;
            }
          }
          .text_light {
            input[type="color"]::-webkit-color-swatch {
              background-color: #ffffff !important;
              border: none;
              border-radius: 5px;
            }
            input {
              border: 1px solid #ffffff;
            }
          }
          .success {
            input[type="color"]::-webkit-color-swatch {
              background-color: #2bbd77 !important;
              border: none;
              border-radius: 5px;
            }
            input {
              border: 1px solid #2bbd77;
            }
          }
          .danger {
            input[type="color"]::-webkit-color-swatch {
              background-color: #f52100 !important;
              border: none;
              border-radius: 5px;
            }
            input {
              border: 1px solid #f52100;
            }
          }
          .warning {
            input[type="color"]::-webkit-color-swatch {
              background-color: #e8910f !important;
              border: none;
              border-radius: 5px;
            }
            input {
              border: 1px solid #e8910f;
            }
          }
          .background {
            input[type="color"]::-webkit-color-swatch {
              background-color: #fafafa !important;
              border: none;
              border-radius: 5px;
            }
            input {
              border: 1px solid #fafafa;
            }
          }
        }
      }
    }
    .theme_btns {
      display: flex;
      align-items: center;
      gap: 15px;
      .save {
        padding: 15px 45px;
        background-color: $bgcolor;
        border-radius: 10px;
        color: $white;
        font-family: $poppins;
        font-size: 16px;
        font-weight: 400;
        cursor: $pointer;
        border: none;
        outline: none;
      }
      .reset {
        padding: 13px 25px;
        background-color: transparent;
        border: none;
        outline: none;
        color: $bgcolor;
        cursor: $pointer;
        border: 1px solid $bgcolor;
        border-radius: 10px;
      }
    }
  }
}
