@import "variables";

.main_chat {
  border: 1px solid $bgcolor;
  border-radius: 10px;
  .j_c_head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(66, 130, 197, 0.1);
    .j_c_active_status {
      display: flex;
      align-items: center;
      gap: 5px;
      .j_c_status {
        display: flex;
        flex-direction: column;
        gap: 2px;
        h1 {
          color: rgba(2, 16, 15, 1);
          font-family: $poppins;
          font-size: 12px;
          font-weight: 600;
        }
        p {
          color: rgba(48, 180, 85, 1);
          font-family: $poppins;
          font-size: 10px;
          font-weight: 400;
        }
      }
    }
    .j_c_basic_detail {
      .j_c_icons {
        display: flex;
        gap: 15px;
        .j_c_detail,
        .j_c_screen_zoom_out,
        .j_c_screen_zoom_im,
        .j_c_dialogs {
          cursor: $pointer;
        }
        .j_c_menu {
          border: none;
          padding: 0;
          background-color: transparent;
          --bs-btn-focus-box-shadow: 0;
        }
        .j_c_dropdown_menu {
          .refer,
          .modify_access {
            --bs-dropdown-link-active-bg: none;
            --bs-dropdown-link-hover-bg: none;
            --bs-dropdown-link-active-color: none;
            padding: 0;
          }
          padding: 0;
          border: none;
        }
        .j_c_dropdown_menu {
          padding: 12px;
          border-radius: 3px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
          .refer,
          .modify_access {
            color: rgba(0, 0, 0, 1);
            font-family: $poppins;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .vertically_chat_screen {
    .twice_chat {
      display: flex;
      flex-direction: column;
      padding: 10px;
      .receive_chat {
        text-align: left;
        width: 180px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .receive_sms {
          position: relative;
          p {
            padding: 10px;
            background-color: $bgcolor;
            border-radius: 5px;
            color: $white;
            font-family: $poppins;
            font-size: 10px;
            font-weight: 400;
          }
          .empty {
            background-color: $bgcolor;
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
            position: absolute;
            left: 12px;
            bottom: -3px;
          }
        }
        .staff_time {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .time {
            display: flex;
            align-items: flex-start;
            gap: 5px;
          }
          .staff_name {
            p {
              color: $gray;
              font-family: $poppins;
              font-size: 8px;
              font-weight: 400;
            }
          }
          .time {
            p {
              color: $gray;
              font-family: $poppins;
              font-size: 8px;
              font-weight: 400;
            }
          }
        }
      }
      .send_chat {
        text-align: right;
        width: 225px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .send_sms {
          p {
            padding: 7px;
            border-radius: 5px;
            background-color: rgba(241, 241, 241, 1);
            color: $gray;
            font-family: $poppins;
            font-size: 10px;
            font-weight: 400;
          }
        }
        .send_sms_time {
          p {
            color: $gray;
            font-family: $poppins;
            font-size: 8px;
            font-weight: 400;
          }
          .access_sms_timing {
            display: flex;
            align-items: flex-start;
            gap: 5px;
            justify-content: end;
          }
        }
      }
      .access_notification {
        display: flex;
        gap: 5px;
        flex-direction: column;
        width: 225px;
        // justify-content: center;
        .access_sms {
          p {
            color: $bgcolor;
            font-family: $poppins;
            font-size: 14px;
            font-weight: 400;
            padding: 10px 30px;
            background-color: rgba(236, 243, 249, 1);
            border: 1px solid $bgcolor;
            border-radius: 5px;
            text-align: center;
          }
        }
        .access_sms_timing {
          display: flex;
          gap: 5px;
          justify-content: end;
          align-items: flex-start;
          align-items: center;
          p {
            color: $gray;
            font-family: $poppins;
            font-size: 12px;
            font-weight: 400;
          }
        }
      }
      .imgs {
        display: flex;
        gap: 5px;
        align-items: center;
        float: right;
      }
      .chat_suggestions {
        display: flex;
        gap: 5px;
        flex-direction: column;
        .suggestion_1,
        .suggestion_2 {
          display: flex;
          gap: 5px;
          align-items: center;
          p {
            padding: 5px 10px;
            color: $bgcolor;
            background-color: rgba(236, 243, 249, 1);
            border-radius: 30px;
            font-family: $poppins;
            font-size: 10px;
            font-weight: 400;
          }
        }
      }
      .appointment_notification {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(236, 243, 249, 1);
        padding: 10px;
        border: 1px solid $bgcolor;
        border-radius: 5px;
        p {
          color: $bgcolor;
          font-family: $poppins;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
  .test_msg {
    display: flex;
    padding: 5px;
    border-top: 1px solid rgba(201, 201, 201, 1);
    .attach_file {
      img {
        padding: 0 10px 0 5px;
        cursor: $pointer;
      }
    }
    .text_smg {
      width: 100%;
      .input {
        width: 100%;
        border: none;
        outline: none;
        color: rgba(119, 131, 143, 1);
        font-family: $poppins;
        font-size: 10px;
        font-weight: 400;
        padding: 7px 10px;
        border-left: 1px solid rgba(201, 201, 201, 1);
      }
    }
    .send_sms {
      img {
        padding: 10px;
        background-color: $bgcolor;
        border-radius: 5px;
        cursor: $pointer;
      }
    }
  }
}
