@import "variables";

.modal-content {
  padding: 70px 35px 60px 35px;
  border-radius: 20px;
  position: relative;
  .check_email {
    .check_email_img {
      text-align: center;
      .check_email_cross_icon {
        img {
          position: absolute;
          top: 20px;
          right: 20px;
          cursor: $pointer;
        }
      }
    }
    .check_email_detail {
      padding-top: 40px;
      h1 {
        text-align: center;
        color: #02100f;
        font-family: $poppins;
        font-size: 28px;
        font-weight: 600;
      }
      p {
        color: $gray;
        text-align: center;
        font-family: $poppins;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
