@import "variables";

.modal-content {
  padding: 40px 60px;
  position: relative;
  .c_l_head {
    h1 {
      color: rgba(2, 16, 15, 1);
      font-family: $poppins;
      font-size: 28px;
      font-weight: 600;
      margin: 0;
    }
    .c_cross {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: $pointer;
    }
    .c_l_search_patient {
      border: 1px solid rgba(238, 238, 238, 1);
      background-color: $white;
      padding: 15px;
      border-radius: 10px;
      display: flex;
      margin: 15px 0 20px 0;
      img {
        cursor: $pointer;
      }
      .input {
        border: none;
        outline: none;
        font-family: $poppins;
        width: 100%;
        color: $darkgray;
        font-family: $poppins;
        font-size: 14px;
        font-weight: 400;
      }
      img {
        cursor: $pointer;
      }
    }
  }
  .c_l_img {
    position: relative;
    .bg_img {
      width: 100%;
      height: 410px;
    }
    .c_l_zooming_btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: 20px;
      right: 10px;
      .c_location {
        padding: 15px;
        background-color: $white;
        border-radius: 50px;
        cursor: $pointer;
      }
    }
    .c_l_zoom_in {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: rgba(241, 241, 241, 1);
      padding: 10px;
      cursor: $pointer;
      margin: 0;
      text-align: center;
      margin-top: 20px;
      border: none;
      outline: none;
    }
    .c_l_zoom_out {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: $white;
      padding: 9px 12px;
      cursor: $pointer;
      margin: 0;
      text-align: center;
      border: none;
      outline: none;
    }
  }
  .save_c_l_btn {
    .c_L_btn {
      margin-top: 20px;
      padding: 13px 0;
      width: 100%;
      border: none;
      outline: none;
      cursor: $pointer;
      border-radius: 10px;
      color: $white;
      background-color: $bgcolor;
    }
  }
}
