@import "variables";

.modal-content {
  // width: 550px;
  padding: 40px;
  position: relative;
  .delete_staff_dialog_container {
    .delete_staff_dialog_img {
      text-align: center;
      .close_delete_dialog {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: $pointer;
      }
    }
    .delete_staff_dialog_name {
      width: 310px;
      margin: auto;
      h1 {
        text-align: center;
        font-family: $poppins;
        font-size: 24px;
        font-weight: 500;
        padding: 20px 0 30px 0;
        margin: 0;
        color: rgba(2, 16, 15, 1);
      }
    }
    .delete_staff_dialog_btns {
      display: flex;
      gap: 10px;
      justify-content: center;
      //   text-align: center;
      .not_sure,
      .sure {
        border: none;
        outline: none;
        border-radius: 10px;
        padding: 15px 70px;
        background-color: rgba(255, 233, 233, 1);
        color: rgba(254, 33, 33, 1);
        font-family: $poppins;
        font-size: 16px;
        font-weight: 400;
      }
      .sure {
        // padding: 15px 55px;
        padding: 15px 26px;
        background-color: $bgcolor;
        color: $white;
      }
    }
  }
}
