@import "variables";

.chat_media {
  //   width: 230px;
  width: 310px;
  .media_container {
    padding: 65px 40px;
    // background-color: red;
    .media_head {
      text-align: center;
      position: relative;
      h1 {
        color: rgba(2, 16, 15, 1);
        font-family: $poppins;
        font-size: 16px;
        font-weight: 600;
        padding-top: 10px;
      }
      p {
        background-color: rgba(48, 180, 85, 1);
        width: 10px;
        height: 10px;
        border-radius: 50px;
        border: 1px solid $white;
        position: absolute;
        // right: 42px;
        right: 82px;
        top: -3px;
      }
    }
    .attachments {
      margin: 30px 0;
      .attachments_head {
        h1 {
          color: rgba(2, 16, 15, 1);
          font-family: $poppins;
          font-size: 16px;
          font-weight: 500;
        }
      }
      .some_files {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0 10px 0;
        .source_files {
          color: $gray;
          font-family: $poppins;
          font-size: 12px;
          font-weight: 500;
        }
        .all_files {
          color: rgba(122, 163, 245, 1);
          font-family: $poppins;
          font-size: 10px;
          font-weight: 400;
        }
      }
      .pdf_files {
        .files {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .file {
            display: flex;
            align-items: center;
            gap: 10px;
            p {
              color: $gray;
              font-family: $poppins;
              font-size: 12px;
              font-weight: 400;
            }
          }
        }
      }
    }
    .gallery {
      .gallery_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          color: rgba(2, 16, 15, 1);
          font-family: $poppins;
          font-size: 16px;
          font-weight: 500;
        }
        p {
          color: rgba(122, 163, 245, 1);
          font-family: $poppins;
          font-size: 10px;
          font-weight: 400;
        }
      }
      .gallery_imgs {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        grid-gap: 10px;
        margin-top: 15px;
      }
    }
  }
}
