@import "variables";

.modal-content {
  padding: 40px 20px;
  border-radius: 20px;
  position: relative;
  form {
    .forgot_password_head {
      h1 {
        color: #02100f;
        font-family: $poppins;
        font-size: 28px;
        font-weight: 600;
      }
      img {
        cursor: $pointer;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
    .modal_input_field {
      display: flex;
      flex-direction: column;
      padding: 40px 0 20px 0;
      label {
        color: #02100f;
        font-family: $poppins;
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 5px;
      }
      .input {
        padding: 15px 0 15px 15px;
        color: $gray;
        border: 1px solid #eeeeee;
        outline: none;
        border-radius: 10px;
      }
    }
    .send_email {
      padding: 15px 0;
      background-color: $bgcolor;
      color: $white;
      border: none;
      outline: none;
      border-radius: 10px;
      width: 100%;
    }
  }
}
