@import "variables";

.my_header {
  .header_container {
    width: 100%;
    .header_types {
      display: flex;
      gap: 10px;
      align-items: center;
      .approved_patient_list,
      .all_patient_list {
        .patient_list_dropdown,
        .all_patient_list_dropdown {
          display: flex;
          align-items: center;
          gap: 215px;
          padding: 15px;
          border: 1px solid rgba(238, 238, 238, 1);
          border-radius: 10px;
          background-color: $white;
          --bs-btn-hover-bg: none;
          --bs-btn-hover-border-color: none;
          --bs-btn-focus-box-shadow: 0;
          --bs-btn-active-bg: none;
          --bs-btn-active-border-color: none;
          .approved,
          .all_default {
            display: flex;
            gap: 15px;
            align-items: center;
            p {
              font-family: $poppins;
              font-size: 16px;
              font-weight: 400;
              color: $darkgray;
            }
          }
        }
        .all_patient_list_dropdown {
          gap: 275px;
        }
        .patient_dropdown_menu,
        .all_patient_dropdown_menu {
          padding: 12px 0 12px 12px;
          border: none;
          box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
          margin-top: 10px;
          position: relative;
          width: 368px;
          .all,
          .approved,
          .not_approved {
            color: $darkgray;
            font-family: $poppins;
            font-size: 14px;
            font-weight: 400;
            --bs-dropdown-link-active-bg: none;
            --bs-dropdown-link-hover-bg: none;
            --bs-dropdown-link-hover-color: none;
            padding: 0;
          }
          .approved {
            margin: 10px 0;
          }
          .p_top_face,
          .a_d_top_face {
            width: 18px;
            height: 18px;
            background-color: $white;
            border-radius: 2px;
            position: absolute;
            right: 11px;
            top: -5px;
            transform: rotate(45deg);
          }
        }
      }
      .search_patient {
        border: 1px solid rgba(238, 238, 238, 1);
        background-color: $white;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        flex-grow: 1;
        img {
          cursor: $pointer;
        }
        .input {
          border: none;
          outline: none;
          font-family: $poppins;
          width: 100%;
          font-family: $poppins;
          font-size: 16px;
          font-weight: 400;
          color: $darkgray;
        }
      }
      .patient_notification {
        position: relative;
        margin: 0 20px;
        .notification_dropdown {
          position: relative;
          --bs-btn-bg: none;
          --bs-btn-hover-border-color: none;
          --bs-btn-focus-box-shadow: 0;
          padding: 0;
          border: none;
          background-color: transparent;
        }
        .d_menu {
          padding: 0;
          border: 1px solid rgba(238, 238, 238, 1);
          margin: 15px -163px 0 0;
          position: absolute;
          inset: 0px 0px auto auto;
          transform: translate(160px, 42px);
          .anne_container {
            width: 440px;
            .anne_head {
              // border-bottom: 0.5px solid rgba(136, 152, 167, 0.5);
              h1 {
                color: rgba(2, 16, 15, 1);
                font-family: $poppins;
                font-size: 18px;
                font-weight: 600;
                margin: 0;
                padding: 23px 20px;
              }
            }
            .requests {
              display: flex;
              flex-direction: column;
              border-top: 0.5px solid rgba(136, 152, 167, 0.5);
              border-bottom: 0.5px solid rgba(136, 152, 167, 0.5);
              .request {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 0;
                margin: 0 20px;
                border-bottom: 1px solid rgba(136, 152, 167, 0.5);
                .anne_detail {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  .anne_name {
                    h1 {
                      color: rgba(2, 16, 15, 1);
                      font-family: $poppins;
                      font-size: 14px;
                      font-weight: 600;
                      margin: 0;
                    }
                    h6 {
                      margin: 0;
                      color: $darkgray;
                      font-family: $poppins;
                      font-size: 12px;
                      font-weight: 400;
                      padding-top: 2px;
                    }
                  }
                }
                .status {
                  .user_status {
                    color: $bgcolor;
                    font-family: $poppins;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 10px 15px;
                    background-color: transparent;
                    border-radius: 5px;
                    border: 1px solid $bgcolor;
                  }
                }
              }
            }
            .all_notification {
              padding: 15px 0;
              text-align: center;
              a {
                text-decoration: none;
                margin: 0;
                color: $bgcolor;
                font-family: $poppins;
                font-size: 12px;
                font-weight: 400;
                cursor: $pointer;
              }
            }
          }
          .top_face {
            background-color: $white;
            // background-color: red;
            width: 18px;
            height: 18px;
            transform: rotate(45deg);
            border-radius: 3px;
            border-left: 1px solid rgba(238, 238, 238, 1);
            border-top: 1px solid rgba(238, 238, 238, 1);
            position: absolute;
            right: 160px;
            top: -9px;
          }
        }
        .icon_notification {
          padding: 0;
          .anne_container {
            .anne_head {
              padding: 23px 15px;
              cursor: normal;
              background-color: none;
              h1 {
                color: rgba(2, 16, 15, 1);
                font-family: $poppins;
                font-size: 18px;
                font-weight: 600;
                margin: 0;
              }
            }
          }
        }
        p {
          background-color: red;
          width: 5px;
          height: 5px;
          border-radius: 50px;
          position: absolute;
          top: 2px;
          right: -2px;
        }
      }
      .user_account {
        display: flex;
        gap: 3px;
        align-items: center;
        .user_img {
          img {
            border: 3px solid $white;
            border-radius: 50px;
          }
        }
        .user_detail {
          .user_name {
            h1 {
              color: rgba(2, 16, 15, 1);
              font-family: $poppins;
              font-size: 14px;
              font-weight: 600;
              margin: 0;
            }
          }
          .user_setting {
            .user_dropdown {
              color: $darkgray;
              background-color: transparent;
              border: none;
              padding: 0;
              color: $darkgray;
              font-family: $poppins;
              font-size: 12px;
              font-weight: 400;
              --bs-btn-focus-box-shadow: 0;
              img {
                width: 6px;
                margin-left: 10px;
              }
            }
            .user_dropdown_menu {
              padding: 12px 0 12px 12px;
              border: none;
              box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
              margin: 15px -21px 0 0;
              // display: flex;
              // flex-direction: column;
              // gap: 10px;
              .profile,
              .logout {
                color: rgba(0, 0, 0, 1);
                font-family: $poppins;
                font-size: 14px;
                font-weight: 400;
                --bs-dropdown-link-active-bg: none;
                --bs-dropdown-link-hover-bg: none;
                --bs-dropdown-link-hover-color: none;
                padding: 0;
              }
              .logout {
                color: #ed3232;
                margin-top: 10px;
              }
              .u_s_top_face {
                width: 16px;
                height: 16px;
                background-color: $white;
                border-radius: 3px;
                position: absolute;
                right: 14px;
                top: -6px;
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }
  }
}