@import "variables";

.my_home {
  .home_container {
    padding: 20px 0;
    .home_cards {
      display: flex;
      gap: 20px;
      .approved_card,
      .un_approved_card,
      .patient_card {
        display: flex;
        align-items: center;
        gap: 50px;
        width: 100%;
        background-image: url("../Images/approved_bg.png");
        background-position: center;
        background-size: cover;
        padding: 35px 0 35px 30px;
        background-color: $white;
        border-radius: 10px;
        .approved_detail,
        .un_approved_detail {
          .approved_tick,
          .un_approved_x {
            display: flex;
            align-items: center;
            gap: 5px;
            p {
              margin: 0;
              color: $darkgray;
              font-family: $poppins;
              font-size: 18px;
              font-weight: 400;
            }
          }
          .approved_patients,
          .un_approved_patients {
            h1 {
              margin: 0;
              color: rgba(2, 16, 15, 1);
              font-family: $poppins;
              font-size: 44px;
              font-weight: 600;
              padding-top: 5px;
            }
          }
        }
      }
      .un_approved_card {
        background-image: url("../Images/un_approved_bg.png");
      }
      .patient_card {
        background-image: url("../Images/total_patient_bg.png");
        background-color: $bgcolor;
        border-radius: 10px;
        .patients_detail {
          p {
            margin: 0;
            color: $white;
            font-family: $poppins;
            font-size: 18px;
            font-weight: 400;
          }
          h1 {
            padding-top: 5px;
            color: $white;
            margin: 0;
            font-family: $poppins;
            font-size: 44px;
            font-weight: 600;
          }
        }
      }
    }
    .un_approved_patients_list {
      .un_approved_patients_list_container {
        background-color: $white;
        border-radius: 10px;
        margin-top: 20px;
        padding: 20px 20px 10px 20px;
        .un_approved_patient_list_head {
          display: flex;
          align-items: center;
          gap: 10px;
          //   padding: 20px 0 10px 0;
          h1 {
            margin: 0;
            color: rgba(2, 16, 15, 1);
            font-family: $poppins;
            font-size: 24px;
            font-weight: 600;
          }
        }
        .patients_list {
          table {
            width: 100%;
            tr {
              th {
                color: rgba(2, 16, 15, 1);
                font-family: $poppins;
                font-size: 14px;
                font-weight: 500;
                padding: 20px 0 10px 0;
                border-bottom: 1px solid rgba(136, 152, 167, 0.5);
              }
            }
            tr {
              .gap {
                display: flex;
                gap: 10px;
                align-items: center;
              }
              td {
                color: $gray;
                font-family: $poppins;
                font-size: 14px;
                font-weight: 500;
                padding-top: 10px;
                .h_menu {
                  .dropdown {
                    position: relative;
                  }
                  .home_menu {
                    color: $darkgray;
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    color: $darkgray;
                    font-family: $poppins;
                    font-size: 12px;
                    font-weight: 400;
                    --bs-btn-focus-box-shadow: 0;
                  }
                  .h_dropdown_menu {
                    border: none;
                    padding: 0;
                    padding: 12px 0 12px 12px;
                    box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
                    margin: 15px -21px 0 0;
                    .home_send_sms,
                    .home_view_prof,
                    .home_block {
                      color: rgba(0, 0, 0, 1);
                      font-family: $poppins;
                      font-size: 14px;
                      font-weight: 400;
                      --bs-dropdown-link-active-bg: none;
                      --bs-dropdown-link-hover-bg: none;
                      --bs-dropdown-link-active-color: none;
                      padding: 0;
                      border: none;
                    }
                    .home_view_prof {
                      margin: 10px 0;
                    }
                    .home_top_face {
                      width: 16px;
                      height: 16px;
                      background-color: $white;
                      border-radius: 3px;
                      position: absolute;
                      right: 14px;
                      top: -6px;
                      transform: rotate(45deg);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

