@import "variables";

.login_registration {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login_register_head {
    h1 {
      font-family: "Poppins", sans-serif;
      color: #02100f;
      font-size: 28px;
      font-weight: 600;
    }
  }
  .login_register_form {
    .input_field {
      display: flex;
      flex-direction: column;
      padding: 15px 0 40px 0;
      label {
        padding: 15px 0 5px 0;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 400;
      }
      .input {
        padding: 15px 0 15px 15px;
        font-family: $poppins;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        border: none;
        border: 1px solid #eeeeee;
        border-radius: 10px;
        color: $gray;
        width: 500px;
      }
    }
  }
  .login_btn {
    .li_btn {
      width: 100%;
      padding: 15px 0;
      background-color: $bgcolor;
      border-radius: 10px;
      color: $white;
      font-family: $poppins;
      font-size: 16px;
      font-weight: 400;
      border: none;
      cursor: $pointer;
    }
  }
  .forgot_password {
    margin-top: 30px;
    text-align: center;
    button {
      border: none;
      outline: none;
      background-color: transparent;
      color: $bgcolor;
      font-family: $poppins;
      font-size: 16px;
      font-weight: 400;
      cursor: $pointer;
    }
  }
  .create_account {
    margin-top: 185px;
    p {
      text-align: center;
      color: $gray;
      font-family: $poppins;
      font-weight: 400;
      font-size: 16px;
      a {
        color: $bgcolor;
        font-family: $poppins;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
