@import "variables";

.chat_main_layout {
  margin-top: 20px;
  background-color: $white;
  padding: 20px 20px 20px 10px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  height: calc(100vh - 117px);
  width: 100%;
  // .c_logs {
  //   width: 100%;
  // }
  .log_chats {
    display: flex;
    gap: 15px;
    width: 100%;
    // flex-grow: 1;
    .long_chat {
      width: 100%;
    }
    .chat_boxes {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }
  }
}
