@import "variables";

.mainlayout {
  width: 100%;
  .mainlayout_container {
    display: flex;
    gap: 20px;
    padding: 20px;
    // width: 100%;
    .outlet {
      // display: flex;
      // flex-direction: column;
      width: 100%;
    }
  }
}

.abc{
  width: 100%;
}