@import "variables";

.patients_notifications {
  .notifications_container {
    padding: 20px;
    border-radius: 10px;
    background-color: $white;
    margin-top: 20px;
    .notifications_head {
      h1 {
        color: rgba(2, 16, 15, 1);
        font-family: $poppins;
        font-size: 24px;
        font-weight: 600;
        margin: 0;
        padding-bottom: 20px;
      }
    }
    .user_notification {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0 15px 0;
      border-top: 0.5px solid rgba(136, 152, 167, 0.5);
      .notification {
        .notification_detail {
          display: flex;
          gap: 10px;
          .notification_name {
            h1 {
              margin: 0;
              color: rgba(2, 16, 15, 1);
              font-family: $poppins;
              font-size: 14px;
              font-weight: 600;
            }
            p,
            span {
              color: $darkgray;
              font-family: $poppins;
              font-size: 12px;
              font-weight: 400;
              margin: 0;
              padding: 2px 0;
              span {
                color: $bgcolor;
              }
            }
            h6 {
              color: rgba(2, 16, 15, 1);
              font-family: $poppins;
              font-size: 12px;
              font-weight: 500;
              margin: 0;
            }
          }
        }
      }
      .approved_req {
        p {
          color: rgba(43, 189, 119, 1);
          font-family: $poppins;
          font-size: 14px;
          font-weight: 400;
          margin: 0;
        }
      }
      .cancel_req {
        p {
          color: rgba(232, 145, 15, 1);
          font-family: $poppins;
          font-size: 14px;
          font-weight: 400;
          margin: 0;
        }
      }
      .block_req {
        p {
          color: rgba(237, 50, 50, 1);
          font-family: $poppins;
          font-size: 14px;
          font-weight: 400;
          margin: 0;
        }
      }
      .update_button,
      .see_chat_button {
        .update_btn,
        .see_chat_btn {
          padding: 10px 17px;
          color: $bgcolor;
          border: 1px solid $bgcolor;
          border-radius: 10px;
          cursor: $pointer;
          background-color: $white;
        }
      }
    }
  }
}
