@import "variables";

.our_patients {
  .patients_container {
    padding: 20px 40px 20px 20px;
    background-color: $white;
    border-radius: 10px;
    margin-top: 20px;
    .patients_head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .patients_name {
        h1 {
          color: rgba(2, 16, 15, 1);
          font-family: $poppins;
          font-size: 24px;
          font-weight: 600;
        }
      }
      .patients_btns {
        display: flex;
        gap: 20px;
        .broadcast,
        .pending_req,
        .new_patients {
          border: none;
          outline: none;
          border: 1px solid $bgcolor;
          border-radius: 10px;
          background-color: transparent;
          padding: 15px 25px;
          color: $bgcolor;
          font-family: $poppins;
          font-size: 16px;
          font-weight: 400;
        }
        .pending_req {
          display: flex;
          align-items: center;
          gap: 5px;
          text-decoration: none;
        }
        .new_patients {
          color: $white;
          background-color: $bgcolor;
        }
      }
    }
    .patients_list {
      table {
        width: 100%;
        tr {
          th {
            border-bottom: 1px solid rgba(136, 152, 167, 0.5);
            padding: 10px 0 7px 0;
            color: rgba(2, 16, 15, 1);
            font-family: $poppins;
            font-size: 14px;
            font-weight: 500;
          }
        }
        tr {
          .gap {
            display: flex;
            align-items: center;
            gap: 10px;
          }
          td {
            padding: 10px 0;
            color: $darkgray;
            font-family: $poppins;
            font-size: 14px;
            font-weight: 500;
            .menu {
              .dropdown {
                position: relative;
              }
              .patient_menu {
                color: $darkgray;
                background-color: transparent;
                border: none;
                padding: 0;
                color: $darkgray;
                font-family: $poppins;
                font-size: 12px;
                font-weight: 400;
                --bs-btn-focus-box-shadow: 0;
              }
              .p_dropdown_menu {
                border: none;
                padding: 0;
                padding: 12px 0 12px 12px;
                box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
                margin: 15px -21px 0 0;
                .send_sms,
                .view_prof,
                .block {
                  color: rgba(0, 0, 0, 1);
                  font-family: $poppins;
                  font-size: 14px;
                  font-weight: 400;
                  --bs-dropdown-link-active-bg: none;
                  --bs-dropdown-link-hover-bg: none;
                  --bs-dropdown-link-active-color: none;
                  padding: 0;
                  border: none;
                }
                .view_prof {
                  margin: 10px 0;
                }
                .patient_top_face {
                  width: 16px;
                  height: 16px;
                  background-color: $white;
                  border-radius: 3px;
                  position: absolute;
                  right: 14px;
                  top: -6px;
                  transform: rotate(45deg);
                }
              }
            }
          }
        }
      }
    }
  }
}
