@import "variables";

.pending_resquests_dialog_modal .modal-content {
  padding: 50px 30px 30px 30px;
  position: relative;
  .p_r_container {
    .p_r_head {
      text-align: center;
      h1 {
        color: rgba(2, 16, 15, 1);
        font-family: $poppins;
        font-size: 24px;
        font-weight: 600;
        padding: 20px 0;
      }
      .p_r_cross {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: $pointer;
      }
    }
    .p_r_input_fields,
    .p_r_flex_input_fields {
      width: 100%;
      .inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        label {
          color: rgba(0, 0, 0, 1);
          font-family: $poppins;
          font-size: 14px;
          font-weight: 400;
        }
        .input {
          padding: 15px;
          color: $gray;
          font-family: $poppins;
          font-size: 14px;
          font-weight: 500;
          border: none;
          outline: none;
          border: 1px solid rgba(136, 152, 167, 0.5);
          border-radius: 10px;
          width: 100%;
          margin: 5px 0 20px 0;
        }
      }

      .p_r_flex_input_fields {
        display: flex;
        gap: 20px;
      }
    }
    .p_r_buttons {
      display: flex;
      gap: 10px;
      align-items: center;
      .p_r_approve,
      .p_r_cancel,
      .p_r_block {
        color: $white;
        font-family: $poppins;
        font-size: 16px;
        font-weight: 400;
        padding: 15px 30px;
        background-color: rgba(43, 189, 119, 1);
        border-radius: 10px;
        cursor: $pointer;
        border: none;
      }
      .p_r_cancel {
        color: rgba(232, 145, 15, 1);
        background-color: rgba(253, 244, 231, 1);
      }
      .p_r_block {
        color: rgba(237, 50, 50, 1);
        background-color: rgba(253, 235, 235, 1);
      }
    }
  }
}
