@import "variables";

.my_pending_requests {
  .pending_requests_container {
    .pending_requests_head {
      .pending_requests_name {
        display: flex;
        align-items: center;
        gap: 15px;
        img {
          cursor: $pointer;
        }
      }
    }
    .pending_requests_list {
      table {
        tr {
          .gap {
            display: flex;
            align-items: center;
            gap: 10px;
            // cursor: $pointer;
            img {
              cursor: $pointer;
            }
          }
          td {
            .pending_requests_menu {
              .p_r_dropdown_menu {
                padding: 12px 0 12px 12px;
                border: none;
                box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
                margin: 15px -21px 0 0;
                .approve,
                .cancel,
                .block {
                  color: rgba(43, 189, 119, 1);
                  font-family: $poppins;
                  font-size: 14px;
                  font-weight: 400;
                  --bs-dropdown-link-active-bg: none;
                  --bs-dropdown-link-hover-bg: none;
                  --bs-dropdown-link-hover-color: none;
                  padding: 0;
                }
                .cancel {
                  color: rgba(232, 145, 15, 1);
                  margin: 10px 0;
                }
                .block {
                  color: rgba(237, 50, 50, 1);
                }
                .p_r_top_face {
                  width: 16px;
                  height: 16px;
                  background-color: $white;
                  border-radius: 3px;
                  position: absolute;
                  right: 14px;
                  top: -6px;
                  transform: rotate(45deg);
                }
              }
            }
          }
        }
      }
    }
  }
}
