@import "variables";

.modal-content {
  padding: 30px;
  position: relative;
  .refer_container {
    .reifer_head {
      h1 {
        color: rgba(2, 16, 15, 1);
        font-family: $poppins;
        font-size: 28px;
        font-weight: 600;
      }
      img {
        position: absolute;
        top: 25px;
        right: 20px;
        cursor: $pointer;
      }
    }
    .refer_input {
      border: 1px solid rgba(238, 238, 238, 1);
      border-radius: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-right: 15px;
      align-items: center;
      margin: 20px 0;
      .input {
        padding: 15px;
        color: $darkgray;
        font-family: $poppins;
        font-size: 16px;
        font-weight: 400;
        border: none;
        outline: none;
      }
    }
    .refer_detail {
      table {
        width: 100%;
        tr {
          th {
            input {
              margin-right: 15px;
            }
          }
          .gap {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-top: 20px;
            // img {
            //   margin-left: 15px;
            // }
          }
          td {
            padding-top: 20px;
          }
        }
      }
      .refer_button {
        margin-top: 30px;
        .refer_btn {
          padding: 13px 45px;
          background-color: $bgcolor;
          font-family: $poppins;
          color: $white;
          font-size: 16px;
          font-weight: 400;
          border: none;
          border-radius: 10px;
        }
      }
    }
  }
}
