@import "variables";

.medcom {
  width: 100%;
  height: 100vh;
  display: flex;
  .auth-bg {
    position: relative;
    .logo {
      img {
        position: absolute;
        top: 50px;
        left: 50px;
      }
    }
  }
  .auth-bg {
    width: 50%;
    height: 100%;
    background-image: url("/src/assets/Images/auth-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .registration {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .registration_head {
      h1 {
        font-family: "Poppins", sans-serif;
        color: #02100f;
        font-size: 28px;
        font-weight: 600;
      }
    }
    .registration_form {
      .input_field {
        display: flex;
        flex-direction: column;
        padding: 15px 0 40px 0;
        label {
          padding: 15px 0 5px 0;
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          font-weight: 400;
        }
        .input {
          padding: 15px 0 15px 15px;
          font-family: $poppins;
          font-size: 14px;
          font-weight: 400;
          outline: none;
          border: none;
          border: 1px solid #eeeeee;
          border-radius: 10px;
          color: $gray;
          width: 500px;
        }
      }
    }
    .form_btn {
      .f_btn {
        width: 500px;
        padding: 15px 0;
        background-color: $bgcolor;
        border-radius: 10px;
        color: $white;
        font-family: $poppins;
        font-size: 16px;
        font-weight: 400;
        border: none;
        cursor: $pointer;
      }
    }
    .register_btn {
      padding-top: 75px;
      p {
        text-align: center;
        color: $gray;
        font-family: $poppins;
        font-weight: 400;
        font-size: 16px;
        a {
          color: $bgcolor;
          font-family: $poppins;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}
