@import "variables";

.setting {
  .setting_container {
    margin-top: 20px;
    padding: 20px;
    background-color: $white;
    border-radius: 10px;
    height: 87.7vh;
    .setting_head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        margin: 0;
        color: rgba(2, 16, 15, 1);
        font-family: $poppins;
        font-size: 24px;
        font-weight: 600;
      }
      .c_change {
        color: $bgcolor;
        font-family: $poppins;
        font-size: 16px;
        font-weight: 400;
        padding: 15px 25px;
        border-radius: 10px;
        border: 1px solid $bgcolor;
        background-color: transparent;
      }
    }
    .setting_img {
      position: relative;
      .camera {
        padding: 10px;
        background-color: $white;
        border-radius: 50px;
        position: absolute;
        bottom: -8px;
        left: 100px;
        cursor: $pointer;
      }
    }
    .setting_input_fields {
      display: flex;
      gap: 20px;
      width: 100%;
      margin: 10px 0 20px 0;
      .setting_right_input_fields {
        margin-top: 130px;
      }
      .setting_left_input_fields,
      .setting_right_input_fields {
        width: 100%;
        .setting_left_input_field,
        .setting_right_input_field {
          display: flex;
          flex-direction: column;
        }
        label {
          color: rgba(0, 0, 0, 1);
          font-family: $poppins;
          font-size: 14px;
          font-weight: 400;
          margin: 20px 0 5px 0;
        }
        .input,
        textarea {
          width: 100%;
          padding: 15px;
          color: $gray;
          font-family: $poppins;
          font-size: 14px;
          font-weight: 400;
          border-radius: 10px;
          border: none;
          outline: none;
          border: 1px solid rgba(238, 238, 238, 1);
        }
        textarea {
          resize: none;
        }
        .tags_input {
          padding: 10px;
          background-color: rgb(248, 248, 248);
          height: auto;
          border-radius: 10px;
          min-height: 155px;
          .points {
            display: flex;
            gap: 10px;
            margin-top: 10px;
            width: 100%;
            flex-wrap: wrap;
            p {
              margin: 0;
              color: $bgcolor;
              font-family: $poppins;
              font-size: 14px;
              font-weight: 400;
              padding: 5px 15px;
              background-color: #ecf3f9;
              border-radius: 170px;
              img {
                margin-left: 10px;
                cursor: $pointer;
              }
            }
          }
        }
      }
    }
    .setting_save_btn {
      margin-top: 20px;
      .save_btn {
        padding: 15px 45px;
        background-color: $bgcolor;
        border-radius: 10px;
        color: $white;
        font-family: $poppins;
        font-size: 16px;
        font-weight: 400;
        cursor: $pointer;
        border: none;
        outline: none;
      }
    }
    .c_location {
      margin-top: 25px;
      .c_c_location {
        position: relative;
        .map_numaric {
          .numaric {
            padding: 2px 12px;
            background-color: $bgcolor;
            color: $white;
            font-family: $poppins;
            font-size: 12px;
            font-weight: 400;
            position: absolute;
            top: 135px;
            right: 113px;
            border-radius: 5px;
            margin: 0;
          }
          .down {
            background-color: $bgcolor;
            width: 12px;
            height: 12px;
            border-radius: 3px;
            transform: rotate(45deg);
            position: absolute;
            top: 150px;
            right: 182px;
            margin: 0;
          }
        }
        .map_cur_handle {
          img {
            position: absolute;
            top: 174px;
            right: 180px;
          }
        }
        .zooming {
          display: flex;
          flex-direction: column;
          position: absolute;
          bottom: 20px;
          right: 17px;
          .zoom_in {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: rgba(241, 241, 241, 1);
            padding: 10px;
            cursor: $pointer;
            margin: 0;
            text-align: center;
            border: none;
            outline: none;
          }
          .zoom_out {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: $white;
            padding: 9px 10px;
            cursor: $pointer;
            margin: 0;
            text-align: center;
            border: none;
            outline: none;
          }
        }
      }
      .c_c_btn {
        margin-top: 20px;
        .c_btn {
          padding: 15px 103px;
          background-color: $bgcolor;
          border-radius: 10px;
          color: $white;
          font-family: $poppins;
          font-size: 16px;
          font-weight: 400;
          border: none;
          outline: none;
          cursor: $pointer;
        }
      }
    }
  }
}

.setting_container {
  .flex {
    display: flex;
    gap: 30px;
    // width: 100%;
  }
}

.setting_left_main_input_fields {
  margin-top: 10px;
}
