@import "variables";

.my_sidebar {
  .sidebar_container {
    .sidebar_links {
      display: flex;
      justify-content: space-between;
      height: 95.8vh;
      flex-direction: column;
      align-items: center;
      background-color: $bgcolor;
      padding: 30px 20px 10px 20px;
      border-radius: 10px;
      width: 115px;
      .side_links {
        ul {
          padding: 0;
          li {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 0;
            transition: 0.5s;
            img {
              width: 20px;
              padding-bottom: 6px;
            }
            .hom,
            .staf,
            .not,
            .pat,
            .chat,
            .set {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              padding: 10px 25px;
              text-decoration: none;
              color: $white;
              font-family: $poppins;
              font-size: 14px;
              font-weight: 400;
            }
            .staf,
            .chat {
              padding: 10px 34px;
            }
            .hom {
              padding: 10px 30px;
            }
            .not {
              padding: 10px;
            }
            .pat {
              padding: 10px 22px;
            }
            .set {
              padding: 10px 22px;
            }
            .not {
              position: relative;
              .red {
                background-color: red;
                width: 5px;
                height: 5px;
                border-radius: 50px;
                position: absolute;
                top: 8px;
                right: 38px;
              }
            }
            // a {
            //   a:hover {
            //     background-color: rgba(0, 0, 0, 0.1);
            //   }
            // }
          }
        }
      }
    }
    .logout_icon {
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.07);
      cursor: $pointer;
      .lout {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 25px;
        text-decoration: none;
        color: $white;
        font-family: $poppins;
        font-size: 14px;
        font-weight: 400;
        img {
          padding-bottom: 8px;
        }
      }
    }
  }
}

.active {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
