@import "variables";

.splash_container {
  background-color: $bgcolor;
  width: 100%;
  height: 100vh;
  .splash_img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
