@import "variables";

.our_staff {
  .staff_container {
    margin-top: 20px;
    padding: 20px;
    background-color: $white;
    border-radius: 10px;
    .staff_head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        color: rgba(2, 16, 15, 1);
        font-family: $poppins;
        font-size: 24px;
        font-weight: 600;
      }
      .staff_buttons {
        display: flex;
        gap: 20px;
        .message,
        .add_staff {
          padding: 15px 30px;
          color: $bgcolor;
          background-color: transparent;
          border: none;
          outline: none;
          border-radius: 10px;
          border: 1px solid $bgcolor;
          font-family: $poppins;
          font-size: 16px;
          font-weight: 400;
        }
        .add_staff {
          background-color: $bgcolor;
          color: $white;
        }
      }
    }
    .staff_users {
      height: calc(100vh - 212px);
      overflow-y: scroll;
      table {
        width: 100%;
        tr {
          th {
            border-bottom: 1px solid rgba(136, 152, 167, 0.5);
            padding: 6px 0;
            color: rgba(2, 16, 15, 1);
            font-family: $poppins;
            font-size: 14px;
            font-weight: 500;
          }
        }
        tr {
          .gap {
            display: flex;
            align-items: center;
            gap: 10px;
          }
          td {
            padding: 10px 0;
            color: $darkgray;
            font-family: $poppins;
            font-size: 14px;
            font-weight: 500;
          }
        }
        .menu {
          .dropdown-menu {
            border: none;
            padding: 12px 0 12px 12px;
            box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
            margin: 15px -15px 0 0;
            .staff_top_face {
              width: 12px;
              height: 12px;
              background-color: $white;
              border-radius: 3px;
              position: absolute;
              right: 11px;
              top: -4px;
              transform: rotate(45deg);
            }
          }
          .patient_menu {
            color: $darkgray;
            background-color: transparent;
            border: none;
            padding: 0;
            color: $darkgray;
            font-family: $poppins;
            font-size: 12px;
            font-weight: 400;
            --bs-btn-focus-box-shadow: 0;
            // appearance: none;
            .dropdown-menu {
              padding: 0;
            }
          }
          .edit,
          .delete {
            color: rgba(0, 0, 0, 1);
            font-family: $poppins;
            font-size: 14px;
            font-weight: 400;
            padding: 0;
            --bs-dropdown-link-active-bg: none;
            // --bs-dropdown-link-active-bg: none;
            --bs-dropdown-link-hover-bg: none;
          }
          .delete {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
