.medcom {
  width: 100%;
  height: 100vh;
  display: flex;
}
.medcom .auth-bg {
  position: relative;
}
.medcom .auth-bg .logo img {
  position: absolute;
  top: 50px;
  left: 50px;
}
.medcom .auth-bg {
  width: 50%;
  height: 100%;
  background-image: url("/src/assets/Images/auth-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.medcom .registration {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.medcom .registration .registration_head h1 {
  font-family: "Poppins", sans-serif;
  color: #02100f;
  font-size: 28px;
  font-weight: 600;
}
.medcom .registration .registration_form .input_field {
  display: flex;
  flex-direction: column;
  padding: 15px 0 40px 0;
}
.medcom .registration .registration_form .input_field label {
  padding: 15px 0 5px 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.medcom .registration .registration_form .input_field .input {
  padding: 15px 0 15px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  border: none;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  color: #9a9f9f;
  width: 500px;
}
.medcom .registration .form_btn .f_btn {
  width: 500px;
  padding: 15px 0;
  background-color: #4282c5;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.medcom .registration .register_btn {
  padding-top: 75px;
}
.medcom .registration .register_btn p {
  text-align: center;
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.medcom .registration .register_btn p a {
  color: #4282c5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.login_registration {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_registration .login_register_head h1 {
  font-family: "Poppins", sans-serif;
  color: #02100f;
  font-size: 28px;
  font-weight: 600;
}
.login_registration .login_register_form .input_field {
  display: flex;
  flex-direction: column;
  padding: 15px 0 40px 0;
}
.login_registration .login_register_form .input_field label {
  padding: 15px 0 5px 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.login_registration .login_register_form .input_field .input {
  padding: 15px 0 15px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  border: none;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  color: #9a9f9f;
  width: 500px;
}
.login_registration .login_btn .li_btn {
  width: 100%;
  padding: 15px 0;
  background-color: #4282c5;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.login_registration .forgot_password {
  margin-top: 30px;
  text-align: center;
}
.login_registration .forgot_password button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #4282c5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.login_registration .create_account {
  margin-top: 185px;
}
.login_registration .create_account p {
  text-align: center;
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.login_registration .create_account p a {
  color: #4282c5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.modal-content {
  padding: 40px 20px;
  border-radius: 20px;
  position: relative;
}
.modal-content form .forgot_password_head h1 {
  color: #02100f;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.modal-content form .forgot_password_head img {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal-content form .modal_input_field {
  display: flex;
  flex-direction: column;
  padding: 40px 0 20px 0;
}
.modal-content form .modal_input_field label {
  color: #02100f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 5px;
}
.modal-content form .modal_input_field .input {
  padding: 15px 0 15px 15px;
  color: #9a9f9f;
  border: 1px solid #eeeeee;
  outline: none;
  border-radius: 10px;
}
.modal-content form .send_email {
  padding: 15px 0;
  background-color: #4282c5;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 100%;
}

.modal-content {
  padding: 70px 35px 60px 35px;
  border-radius: 20px;
  position: relative;
}
.modal-content .check_email .check_email_img {
  text-align: center;
}
.modal-content .check_email .check_email_img .check_email_cross_icon img {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal-content .check_email .check_email_detail {
  padding-top: 40px;
}
.modal-content .check_email .check_email_detail h1 {
  text-align: center;
  color: #02100f;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.modal-content .check_email .check_email_detail p {
  color: #9a9f9f;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.mainlayout {
  width: 100%;
}
.mainlayout .mainlayout_container {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.mainlayout .mainlayout_container .outlet {
  width: 100%;
}

.abc {
  width: 100%;
}

.my_sidebar .sidebar_container .sidebar_links {
  display: flex;
  justify-content: space-between;
  height: 95.8vh;
  flex-direction: column;
  align-items: center;
  background-color: #4282c5;
  padding: 30px 20px 10px 20px;
  border-radius: 10px;
  width: 115px;
}
.my_sidebar .sidebar_container .sidebar_links .side_links ul {
  padding: 0;
}
.my_sidebar .sidebar_container .sidebar_links .side_links ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  transition: 0.5s;
}
.my_sidebar .sidebar_container .sidebar_links .side_links ul li img {
  width: 20px;
  padding-bottom: 6px;
}
.my_sidebar .sidebar_container .sidebar_links .side_links ul li .hom,
.my_sidebar .sidebar_container .sidebar_links .side_links ul li .staf,
.my_sidebar .sidebar_container .sidebar_links .side_links ul li .not,
.my_sidebar .sidebar_container .sidebar_links .side_links ul li .pat,
.my_sidebar .sidebar_container .sidebar_links .side_links ul li .chat,
.my_sidebar .sidebar_container .sidebar_links .side_links ul li .set {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 25px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.my_sidebar .sidebar_container .sidebar_links .side_links ul li .staf,
.my_sidebar .sidebar_container .sidebar_links .side_links ul li .chat {
  padding: 10px 34px;
}
.my_sidebar .sidebar_container .sidebar_links .side_links ul li .hom {
  padding: 10px 30px;
}
.my_sidebar .sidebar_container .sidebar_links .side_links ul li .not {
  padding: 10px;
}
.my_sidebar .sidebar_container .sidebar_links .side_links ul li .pat {
  padding: 10px 22px;
}
.my_sidebar .sidebar_container .sidebar_links .side_links ul li .set {
  padding: 10px 22px;
}
.my_sidebar .sidebar_container .sidebar_links .side_links ul li .not {
  position: relative;
}
.my_sidebar .sidebar_container .sidebar_links .side_links ul li .not .red {
  background-color: red;
  width: 5px;
  height: 5px;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  right: 38px;
}
.my_sidebar .sidebar_container .logout_icon {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.07);
  cursor: pointer;
}
.my_sidebar .sidebar_container .logout_icon .lout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 25px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.my_sidebar .sidebar_container .logout_icon .lout img {
  padding-bottom: 8px;
}

.active {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.my_header .header_container {
  width: 100%;
}
.my_header .header_container .header_types {
  display: flex;
  gap: 10px;
  align-items: center;
}
.my_header .header_container .header_types .approved_patient_list .patient_list_dropdown,
.my_header .header_container .header_types .approved_patient_list .all_patient_list_dropdown,
.my_header .header_container .header_types .all_patient_list .patient_list_dropdown,
.my_header .header_container .header_types .all_patient_list .all_patient_list_dropdown {
  display: flex;
  align-items: center;
  gap: 215px;
  padding: 15px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 10px;
  background-color: #ffffff;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-box-shadow: 0;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
}
.my_header .header_container .header_types .approved_patient_list .patient_list_dropdown .approved,
.my_header .header_container .header_types .approved_patient_list .patient_list_dropdown .all_default,
.my_header .header_container .header_types .approved_patient_list .all_patient_list_dropdown .approved,
.my_header .header_container .header_types .approved_patient_list .all_patient_list_dropdown .all_default,
.my_header .header_container .header_types .all_patient_list .patient_list_dropdown .approved,
.my_header .header_container .header_types .all_patient_list .patient_list_dropdown .all_default,
.my_header .header_container .header_types .all_patient_list .all_patient_list_dropdown .approved,
.my_header .header_container .header_types .all_patient_list .all_patient_list_dropdown .all_default {
  display: flex;
  gap: 15px;
  align-items: center;
}
.my_header .header_container .header_types .approved_patient_list .patient_list_dropdown .approved p,
.my_header .header_container .header_types .approved_patient_list .patient_list_dropdown .all_default p,
.my_header .header_container .header_types .approved_patient_list .all_patient_list_dropdown .approved p,
.my_header .header_container .header_types .approved_patient_list .all_patient_list_dropdown .all_default p,
.my_header .header_container .header_types .all_patient_list .patient_list_dropdown .approved p,
.my_header .header_container .header_types .all_patient_list .patient_list_dropdown .all_default p,
.my_header .header_container .header_types .all_patient_list .all_patient_list_dropdown .approved p,
.my_header .header_container .header_types .all_patient_list .all_patient_list_dropdown .all_default p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #8898A7;
}
.my_header .header_container .header_types .approved_patient_list .all_patient_list_dropdown,
.my_header .header_container .header_types .all_patient_list .all_patient_list_dropdown {
  gap: 275px;
}
.my_header .header_container .header_types .approved_patient_list .patient_dropdown_menu,
.my_header .header_container .header_types .approved_patient_list .all_patient_dropdown_menu,
.my_header .header_container .header_types .all_patient_list .patient_dropdown_menu,
.my_header .header_container .header_types .all_patient_list .all_patient_dropdown_menu {
  padding: 12px 0 12px 12px;
  border: none;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
  position: relative;
  width: 368px;
}
.my_header .header_container .header_types .approved_patient_list .patient_dropdown_menu .all,
.my_header .header_container .header_types .approved_patient_list .patient_dropdown_menu .approved,
.my_header .header_container .header_types .approved_patient_list .patient_dropdown_menu .not_approved,
.my_header .header_container .header_types .approved_patient_list .all_patient_dropdown_menu .all,
.my_header .header_container .header_types .approved_patient_list .all_patient_dropdown_menu .approved,
.my_header .header_container .header_types .approved_patient_list .all_patient_dropdown_menu .not_approved,
.my_header .header_container .header_types .all_patient_list .patient_dropdown_menu .all,
.my_header .header_container .header_types .all_patient_list .patient_dropdown_menu .approved,
.my_header .header_container .header_types .all_patient_list .patient_dropdown_menu .not_approved,
.my_header .header_container .header_types .all_patient_list .all_patient_dropdown_menu .all,
.my_header .header_container .header_types .all_patient_list .all_patient_dropdown_menu .approved,
.my_header .header_container .header_types .all_patient_list .all_patient_dropdown_menu .not_approved {
  color: #8898A7;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  --bs-dropdown-link-active-bg: none;
  --bs-dropdown-link-hover-bg: none;
  --bs-dropdown-link-hover-color: none;
  padding: 0;
}
.my_header .header_container .header_types .approved_patient_list .patient_dropdown_menu .approved,
.my_header .header_container .header_types .approved_patient_list .all_patient_dropdown_menu .approved,
.my_header .header_container .header_types .all_patient_list .patient_dropdown_menu .approved,
.my_header .header_container .header_types .all_patient_list .all_patient_dropdown_menu .approved {
  margin: 10px 0;
}
.my_header .header_container .header_types .approved_patient_list .patient_dropdown_menu .p_top_face,
.my_header .header_container .header_types .approved_patient_list .patient_dropdown_menu .a_d_top_face,
.my_header .header_container .header_types .approved_patient_list .all_patient_dropdown_menu .p_top_face,
.my_header .header_container .header_types .approved_patient_list .all_patient_dropdown_menu .a_d_top_face,
.my_header .header_container .header_types .all_patient_list .patient_dropdown_menu .p_top_face,
.my_header .header_container .header_types .all_patient_list .patient_dropdown_menu .a_d_top_face,
.my_header .header_container .header_types .all_patient_list .all_patient_dropdown_menu .p_top_face,
.my_header .header_container .header_types .all_patient_list .all_patient_dropdown_menu .a_d_top_face {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 2px;
  position: absolute;
  right: 11px;
  top: -5px;
  transform: rotate(45deg);
}
.my_header .header_container .header_types .search_patient {
  border: 1px solid rgb(238, 238, 238);
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-grow: 1;
}
.my_header .header_container .header_types .search_patient img {
  cursor: pointer;
}
.my_header .header_container .header_types .search_patient .input {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #8898A7;
}
.my_header .header_container .header_types .patient_notification {
  position: relative;
  margin: 0 20px;
}
.my_header .header_container .header_types .patient_notification .notification_dropdown {
  position: relative;
  --bs-btn-bg: none;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-box-shadow: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.my_header .header_container .header_types .patient_notification .d_menu {
  padding: 0;
  border: 1px solid rgb(238, 238, 238);
  margin: 15px -163px 0 0;
  position: absolute;
  inset: 0px 0px auto auto;
  transform: translate(160px, 42px);
}
.my_header .header_container .header_types .patient_notification .d_menu .anne_container {
  width: 440px;
}
.my_header .header_container .header_types .patient_notification .d_menu .anne_container .anne_head h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 23px 20px;
}
.my_header .header_container .header_types .patient_notification .d_menu .anne_container .requests {
  display: flex;
  flex-direction: column;
  border-top: 0.5px solid rgba(136, 152, 167, 0.5);
  border-bottom: 0.5px solid rgba(136, 152, 167, 0.5);
}
.my_header .header_container .header_types .patient_notification .d_menu .anne_container .requests .request {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin: 0 20px;
  border-bottom: 1px solid rgba(136, 152, 167, 0.5);
}
.my_header .header_container .header_types .patient_notification .d_menu .anne_container .requests .request .anne_detail {
  display: flex;
  align-items: center;
  gap: 10px;
}
.my_header .header_container .header_types .patient_notification .d_menu .anne_container .requests .request .anne_detail .anne_name h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.my_header .header_container .header_types .patient_notification .d_menu .anne_container .requests .request .anne_detail .anne_name h6 {
  margin: 0;
  color: #8898A7;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-top: 2px;
}
.my_header .header_container .header_types .patient_notification .d_menu .anne_container .requests .request .status .user_status {
  color: #4282c5;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #4282c5;
}
.my_header .header_container .header_types .patient_notification .d_menu .anne_container .all_notification {
  padding: 15px 0;
  text-align: center;
}
.my_header .header_container .header_types .patient_notification .d_menu .anne_container .all_notification a {
  text-decoration: none;
  margin: 0;
  color: #4282c5;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}
.my_header .header_container .header_types .patient_notification .d_menu .top_face {
  background-color: #ffffff;
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
  border-radius: 3px;
  border-left: 1px solid rgb(238, 238, 238);
  border-top: 1px solid rgb(238, 238, 238);
  position: absolute;
  right: 160px;
  top: -9px;
}
.my_header .header_container .header_types .patient_notification .icon_notification {
  padding: 0;
}
.my_header .header_container .header_types .patient_notification .icon_notification .anne_container .anne_head {
  padding: 23px 15px;
  cursor: normal;
  background-color: none;
}
.my_header .header_container .header_types .patient_notification .icon_notification .anne_container .anne_head h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.my_header .header_container .header_types .patient_notification p {
  background-color: red;
  width: 5px;
  height: 5px;
  border-radius: 50px;
  position: absolute;
  top: 2px;
  right: -2px;
}
.my_header .header_container .header_types .user_account {
  display: flex;
  gap: 3px;
  align-items: center;
}
.my_header .header_container .header_types .user_account .user_img img {
  border: 3px solid #ffffff;
  border-radius: 50px;
}
.my_header .header_container .header_types .user_account .user_detail .user_name h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.my_header .header_container .header_types .user_account .user_detail .user_setting .user_dropdown {
  color: #8898A7;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #8898A7;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  --bs-btn-focus-box-shadow: 0;
}
.my_header .header_container .header_types .user_account .user_detail .user_setting .user_dropdown img {
  width: 6px;
  margin-left: 10px;
}
.my_header .header_container .header_types .user_account .user_detail .user_setting .user_dropdown_menu {
  padding: 12px 0 12px 12px;
  border: none;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
  margin: 15px -21px 0 0;
}
.my_header .header_container .header_types .user_account .user_detail .user_setting .user_dropdown_menu .profile,
.my_header .header_container .header_types .user_account .user_detail .user_setting .user_dropdown_menu .logout {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  --bs-dropdown-link-active-bg: none;
  --bs-dropdown-link-hover-bg: none;
  --bs-dropdown-link-hover-color: none;
  padding: 0;
}
.my_header .header_container .header_types .user_account .user_detail .user_setting .user_dropdown_menu .logout {
  color: #ed3232;
  margin-top: 10px;
}
.my_header .header_container .header_types .user_account .user_detail .user_setting .user_dropdown_menu .u_s_top_face {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 3px;
  position: absolute;
  right: 14px;
  top: -6px;
  transform: rotate(45deg);
}

.my_home .home_container {
  padding: 20px 0;
}
.my_home .home_container .home_cards {
  display: flex;
  gap: 20px;
}
.my_home .home_container .home_cards .approved_card,
.my_home .home_container .home_cards .un_approved_card,
.my_home .home_container .home_cards .patient_card {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  background-image: url("../Images/approved_bg.png");
  background-position: center;
  background-size: cover;
  padding: 35px 0 35px 30px;
  background-color: #ffffff;
  border-radius: 10px;
}
.my_home .home_container .home_cards .approved_card .approved_detail .approved_tick,
.my_home .home_container .home_cards .approved_card .approved_detail .un_approved_x,
.my_home .home_container .home_cards .approved_card .un_approved_detail .approved_tick,
.my_home .home_container .home_cards .approved_card .un_approved_detail .un_approved_x,
.my_home .home_container .home_cards .un_approved_card .approved_detail .approved_tick,
.my_home .home_container .home_cards .un_approved_card .approved_detail .un_approved_x,
.my_home .home_container .home_cards .un_approved_card .un_approved_detail .approved_tick,
.my_home .home_container .home_cards .un_approved_card .un_approved_detail .un_approved_x,
.my_home .home_container .home_cards .patient_card .approved_detail .approved_tick,
.my_home .home_container .home_cards .patient_card .approved_detail .un_approved_x,
.my_home .home_container .home_cards .patient_card .un_approved_detail .approved_tick,
.my_home .home_container .home_cards .patient_card .un_approved_detail .un_approved_x {
  display: flex;
  align-items: center;
  gap: 5px;
}
.my_home .home_container .home_cards .approved_card .approved_detail .approved_tick p,
.my_home .home_container .home_cards .approved_card .approved_detail .un_approved_x p,
.my_home .home_container .home_cards .approved_card .un_approved_detail .approved_tick p,
.my_home .home_container .home_cards .approved_card .un_approved_detail .un_approved_x p,
.my_home .home_container .home_cards .un_approved_card .approved_detail .approved_tick p,
.my_home .home_container .home_cards .un_approved_card .approved_detail .un_approved_x p,
.my_home .home_container .home_cards .un_approved_card .un_approved_detail .approved_tick p,
.my_home .home_container .home_cards .un_approved_card .un_approved_detail .un_approved_x p,
.my_home .home_container .home_cards .patient_card .approved_detail .approved_tick p,
.my_home .home_container .home_cards .patient_card .approved_detail .un_approved_x p,
.my_home .home_container .home_cards .patient_card .un_approved_detail .approved_tick p,
.my_home .home_container .home_cards .patient_card .un_approved_detail .un_approved_x p {
  margin: 0;
  color: #8898A7;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.my_home .home_container .home_cards .approved_card .approved_detail .approved_patients h1,
.my_home .home_container .home_cards .approved_card .approved_detail .un_approved_patients h1,
.my_home .home_container .home_cards .approved_card .un_approved_detail .approved_patients h1,
.my_home .home_container .home_cards .approved_card .un_approved_detail .un_approved_patients h1,
.my_home .home_container .home_cards .un_approved_card .approved_detail .approved_patients h1,
.my_home .home_container .home_cards .un_approved_card .approved_detail .un_approved_patients h1,
.my_home .home_container .home_cards .un_approved_card .un_approved_detail .approved_patients h1,
.my_home .home_container .home_cards .un_approved_card .un_approved_detail .un_approved_patients h1,
.my_home .home_container .home_cards .patient_card .approved_detail .approved_patients h1,
.my_home .home_container .home_cards .patient_card .approved_detail .un_approved_patients h1,
.my_home .home_container .home_cards .patient_card .un_approved_detail .approved_patients h1,
.my_home .home_container .home_cards .patient_card .un_approved_detail .un_approved_patients h1 {
  margin: 0;
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 600;
  padding-top: 5px;
}
.my_home .home_container .home_cards .un_approved_card {
  background-image: url("../Images/un_approved_bg.png");
}
.my_home .home_container .home_cards .patient_card {
  background-image: url("../Images/total_patient_bg.png");
  background-color: #4282c5;
  border-radius: 10px;
}
.my_home .home_container .home_cards .patient_card .patients_detail p {
  margin: 0;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.my_home .home_container .home_cards .patient_card .patients_detail h1 {
  padding-top: 5px;
  color: #ffffff;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 600;
}
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px 20px 10px 20px;
}
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container .un_approved_patient_list_head {
  display: flex;
  align-items: center;
  gap: 10px;
}
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container .un_approved_patient_list_head h1 {
  margin: 0;
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container .patients_list table {
  width: 100%;
}
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container .patients_list table tr th {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid rgba(136, 152, 167, 0.5);
}
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container .patients_list table tr .gap {
  display: flex;
  gap: 10px;
  align-items: center;
}
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container .patients_list table tr td {
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
}
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container .patients_list table tr td .h_menu .dropdown {
  position: relative;
}
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container .patients_list table tr td .h_menu .home_menu {
  color: #8898A7;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #8898A7;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  --bs-btn-focus-box-shadow: 0;
}
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container .patients_list table tr td .h_menu .h_dropdown_menu {
  border: none;
  padding: 0;
  padding: 12px 0 12px 12px;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
  margin: 15px -21px 0 0;
}
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container .patients_list table tr td .h_menu .h_dropdown_menu .home_send_sms,
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container .patients_list table tr td .h_menu .h_dropdown_menu .home_view_prof,
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container .patients_list table tr td .h_menu .h_dropdown_menu .home_block {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  --bs-dropdown-link-active-bg: none;
  --bs-dropdown-link-hover-bg: none;
  --bs-dropdown-link-active-color: none;
  padding: 0;
  border: none;
}
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container .patients_list table tr td .h_menu .h_dropdown_menu .home_view_prof {
  margin: 10px 0;
}
.my_home .home_container .un_approved_patients_list .un_approved_patients_list_container .patients_list table tr td .h_menu .h_dropdown_menu .home_top_face {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 3px;
  position: absolute;
  right: 14px;
  top: -6px;
  transform: rotate(45deg);
}

.our_staff .staff_container {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}
.our_staff .staff_container .staff_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our_staff .staff_container .staff_head h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.our_staff .staff_container .staff_head .staff_buttons {
  display: flex;
  gap: 20px;
}
.our_staff .staff_container .staff_head .staff_buttons .message,
.our_staff .staff_container .staff_head .staff_buttons .add_staff {
  padding: 15px 30px;
  color: #4282c5;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 10px;
  border: 1px solid #4282c5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.our_staff .staff_container .staff_head .staff_buttons .add_staff {
  background-color: #4282c5;
  color: #ffffff;
}
.our_staff .staff_container .staff_users {
  height: calc(100vh - 212px);
  overflow-y: scroll;
}
.our_staff .staff_container .staff_users table {
  width: 100%;
}
.our_staff .staff_container .staff_users table tr th {
  border-bottom: 1px solid rgba(136, 152, 167, 0.5);
  padding: 6px 0;
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.our_staff .staff_container .staff_users table tr .gap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.our_staff .staff_container .staff_users table tr td {
  padding: 10px 0;
  color: #8898A7;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.our_staff .staff_container .staff_users table .menu .dropdown-menu {
  border: none;
  padding: 12px 0 12px 12px;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
  margin: 15px -15px 0 0;
}
.our_staff .staff_container .staff_users table .menu .dropdown-menu .staff_top_face {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 3px;
  position: absolute;
  right: 11px;
  top: -4px;
  transform: rotate(45deg);
}
.our_staff .staff_container .staff_users table .menu .patient_menu {
  color: #8898A7;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #8898A7;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  --bs-btn-focus-box-shadow: 0;
}
.our_staff .staff_container .staff_users table .menu .patient_menu .dropdown-menu {
  padding: 0;
}
.our_staff .staff_container .staff_users table .menu .edit,
.our_staff .staff_container .staff_users table .menu .delete {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  --bs-dropdown-link-active-bg: none;
  --bs-dropdown-link-hover-bg: none;
}
.our_staff .staff_container .staff_users table .menu .delete {
  margin-top: 10px;
}

.modal-content {
  position: relative;
  padding: 40px 30px 30px 30px;
}
.modal-content .add_new_staff_container .add_new_staff_head h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
.modal-content .add_new_staff_container .add_new_staff_head img {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal-content .add_new_staff_container .add_new_staff_input_fields {
  padding: 20px 0 30px 0;
}
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields {
  display: flex;
  gap: 20px;
}
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .left_input_fields,
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .right_input_fields {
  width: 100%;
}
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .left_input_fields .right_input_field,
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .left_input_fields .left_input_field,
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .right_input_fields .right_input_field,
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .right_input_fields .left_input_field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  width: 100%;
}
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .left_input_fields .right_input_field label,
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .left_input_fields .left_input_field label,
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .right_input_fields .right_input_field label,
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .right_input_fields .left_input_field label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .left_input_fields .right_input_field .input,
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .left_input_fields .right_input_field select,
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .left_input_fields .left_input_field .input,
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .left_input_fields .left_input_field select,
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .right_input_fields .right_input_field .input,
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .right_input_fields .right_input_field select,
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .right_input_fields .left_input_field .input,
.modal-content .add_new_staff_container .add_new_staff_input_fields .new_staff_input_fields .right_input_fields .left_input_field select {
  outline: none;
  border: none;
  border-radius: 10px;
  border: 1px solid rgb(238, 238, 238);
  padding: 15px;
  width: 100%;
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.modal-content .add_new_staff_container .add_new_staff_input_fields .optional {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.modal-content .add_new_staff_container .add_new_staff_input_fields .optional label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  padding: 10px 0 5px 0;
}
.modal-content .add_new_staff_container .add_new_staff_input_fields .optional label span {
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.modal-content .add_new_staff_container .add_new_staff_input_fields .optional .input {
  outline: none;
  border: none;
  border-radius: 10px;
  border: 1px solid rgb(238, 238, 238);
  padding: 15px;
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.modal-content .add_new_staff_container .done_add_btn .a_d_button {
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #4282c5;
  padding: 15px 30px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.modal-content {
  padding: 40px;
  position: relative;
}
.modal-content .delete_staff_dialog_container .delete_staff_dialog_img {
  text-align: center;
}
.modal-content .delete_staff_dialog_container .delete_staff_dialog_img .close_delete_dialog {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal-content .delete_staff_dialog_container .delete_staff_dialog_name {
  width: 310px;
  margin: auto;
}
.modal-content .delete_staff_dialog_container .delete_staff_dialog_name h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 20px 0 30px 0;
  margin: 0;
  color: rgb(2, 16, 15);
}
.modal-content .delete_staff_dialog_container .delete_staff_dialog_btns {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.modal-content .delete_staff_dialog_container .delete_staff_dialog_btns .not_sure,
.modal-content .delete_staff_dialog_container .delete_staff_dialog_btns .sure {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 15px 70px;
  background-color: rgb(255, 233, 233);
  color: rgb(254, 33, 33);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.modal-content .delete_staff_dialog_container .delete_staff_dialog_btns .sure {
  padding: 15px 26px;
  background-color: #4282c5;
  color: #ffffff;
}

.our_patients .patients_container {
  padding: 20px 40px 20px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
}
.our_patients .patients_container .patients_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.our_patients .patients_container .patients_head .patients_name h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.our_patients .patients_container .patients_head .patients_btns {
  display: flex;
  gap: 20px;
}
.our_patients .patients_container .patients_head .patients_btns .broadcast,
.our_patients .patients_container .patients_head .patients_btns .pending_req,
.our_patients .patients_container .patients_head .patients_btns .new_patients {
  border: none;
  outline: none;
  border: 1px solid #4282c5;
  border-radius: 10px;
  background-color: transparent;
  padding: 15px 25px;
  color: #4282c5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.our_patients .patients_container .patients_head .patients_btns .pending_req {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}
.our_patients .patients_container .patients_head .patients_btns .new_patients {
  color: #ffffff;
  background-color: #4282c5;
}
.our_patients .patients_container .patients_list table {
  width: 100%;
}
.our_patients .patients_container .patients_list table tr th {
  border-bottom: 1px solid rgba(136, 152, 167, 0.5);
  padding: 10px 0 7px 0;
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.our_patients .patients_container .patients_list table tr .gap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.our_patients .patients_container .patients_list table tr td {
  padding: 10px 0;
  color: #8898A7;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.our_patients .patients_container .patients_list table tr td .menu .dropdown {
  position: relative;
}
.our_patients .patients_container .patients_list table tr td .menu .patient_menu {
  color: #8898A7;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #8898A7;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  --bs-btn-focus-box-shadow: 0;
}
.our_patients .patients_container .patients_list table tr td .menu .p_dropdown_menu {
  border: none;
  padding: 0;
  padding: 12px 0 12px 12px;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
  margin: 15px -21px 0 0;
}
.our_patients .patients_container .patients_list table tr td .menu .p_dropdown_menu .send_sms,
.our_patients .patients_container .patients_list table tr td .menu .p_dropdown_menu .view_prof,
.our_patients .patients_container .patients_list table tr td .menu .p_dropdown_menu .block {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  --bs-dropdown-link-active-bg: none;
  --bs-dropdown-link-hover-bg: none;
  --bs-dropdown-link-active-color: none;
  padding: 0;
  border: none;
}
.our_patients .patients_container .patients_list table tr td .menu .p_dropdown_menu .view_prof {
  margin: 10px 0;
}
.our_patients .patients_container .patients_list table tr td .menu .p_dropdown_menu .patient_top_face {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 3px;
  position: absolute;
  right: 14px;
  top: -6px;
  transform: rotate(45deg);
}

.modal-content {
  padding: 30px;
  position: relative;
}
.modal-content .delete_staff_dialog_container .broadcast_head h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
.modal-content .delete_staff_dialog_container .broadcast_head img {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
}
.modal-content .delete_staff_dialog_container .broadcast_message {
  display: flex;
  flex-direction: column;
}
.modal-content .delete_staff_dialog_container .broadcast_message label {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 20px 0 5px 0;
}
.modal-content .delete_staff_dialog_container .broadcast_message textarea {
  padding: 15px;
  border-radius: 10px;
  border: none;
  border: 1px solid rgb(238, 238, 238);
  outline: none;
  resize: none;
  color: gray;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.modal-content .delete_staff_dialog_container .broadcast_dialog_btn {
  margin-top: 20px;
}
.modal-content .delete_staff_dialog_container .broadcast_dialog_btn .btn {
  border: none;
  outline: none;
  color: #ffffff;
  padding: 15px 45px;
  background-color: #4282c5;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.setting .setting_container {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  height: 87.7vh;
}
.setting .setting_container .setting_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.setting .setting_container .setting_head h1 {
  margin: 0;
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.setting .setting_container .setting_head .c_change {
  color: #4282c5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #4282c5;
  background-color: transparent;
}
.setting .setting_container .setting_img {
  position: relative;
}
.setting .setting_container .setting_img .camera {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 50px;
  position: absolute;
  bottom: -8px;
  left: 100px;
  cursor: pointer;
}
.setting .setting_container .setting_input_fields {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 10px 0 20px 0;
}
.setting .setting_container .setting_input_fields .setting_right_input_fields {
  margin-top: 130px;
}
.setting .setting_container .setting_input_fields .setting_left_input_fields,
.setting .setting_container .setting_input_fields .setting_right_input_fields {
  width: 100%;
}
.setting .setting_container .setting_input_fields .setting_left_input_fields .setting_left_input_field,
.setting .setting_container .setting_input_fields .setting_left_input_fields .setting_right_input_field,
.setting .setting_container .setting_input_fields .setting_right_input_fields .setting_left_input_field,
.setting .setting_container .setting_input_fields .setting_right_input_fields .setting_right_input_field {
  display: flex;
  flex-direction: column;
}
.setting .setting_container .setting_input_fields .setting_left_input_fields label,
.setting .setting_container .setting_input_fields .setting_right_input_fields label {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 20px 0 5px 0;
}
.setting .setting_container .setting_input_fields .setting_left_input_fields .input,
.setting .setting_container .setting_input_fields .setting_left_input_fields textarea,
.setting .setting_container .setting_input_fields .setting_right_input_fields .input,
.setting .setting_container .setting_input_fields .setting_right_input_fields textarea {
  width: 100%;
  padding: 15px;
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  outline: none;
  border: 1px solid rgb(238, 238, 238);
}
.setting .setting_container .setting_input_fields .setting_left_input_fields textarea,
.setting .setting_container .setting_input_fields .setting_right_input_fields textarea {
  resize: none;
}
.setting .setting_container .setting_input_fields .setting_left_input_fields .tags_input,
.setting .setting_container .setting_input_fields .setting_right_input_fields .tags_input {
  padding: 10px;
  background-color: rgb(248, 248, 248);
  height: auto;
  border-radius: 10px;
  min-height: 155px;
}
.setting .setting_container .setting_input_fields .setting_left_input_fields .tags_input .points,
.setting .setting_container .setting_input_fields .setting_right_input_fields .tags_input .points {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  flex-wrap: wrap;
}
.setting .setting_container .setting_input_fields .setting_left_input_fields .tags_input .points p,
.setting .setting_container .setting_input_fields .setting_right_input_fields .tags_input .points p {
  margin: 0;
  color: #4282c5;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 15px;
  background-color: #ecf3f9;
  border-radius: 170px;
}
.setting .setting_container .setting_input_fields .setting_left_input_fields .tags_input .points p img,
.setting .setting_container .setting_input_fields .setting_right_input_fields .tags_input .points p img {
  margin-left: 10px;
  cursor: pointer;
}
.setting .setting_container .setting_save_btn {
  margin-top: 20px;
}
.setting .setting_container .setting_save_btn .save_btn {
  padding: 15px 45px;
  background-color: #4282c5;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
}
.setting .setting_container .c_location {
  margin-top: 25px;
}
.setting .setting_container .c_location .c_c_location {
  position: relative;
}
.setting .setting_container .c_location .c_c_location .map_numaric .numaric {
  padding: 2px 12px;
  background-color: #4282c5;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 135px;
  right: 113px;
  border-radius: 5px;
  margin: 0;
}
.setting .setting_container .c_location .c_c_location .map_numaric .down {
  background-color: #4282c5;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  transform: rotate(45deg);
  position: absolute;
  top: 150px;
  right: 182px;
  margin: 0;
}
.setting .setting_container .c_location .c_c_location .map_cur_handle img {
  position: absolute;
  top: 174px;
  right: 180px;
}
.setting .setting_container .c_location .c_c_location .zooming {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  right: 17px;
}
.setting .setting_container .c_location .c_c_location .zooming .zoom_in {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(241, 241, 241);
  padding: 10px;
  cursor: pointer;
  margin: 0;
  text-align: center;
  border: none;
  outline: none;
}
.setting .setting_container .c_location .c_c_location .zooming .zoom_out {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffffff;
  padding: 9px 10px;
  cursor: pointer;
  margin: 0;
  text-align: center;
  border: none;
  outline: none;
}
.setting .setting_container .c_location .c_c_btn {
  margin-top: 20px;
}
.setting .setting_container .c_location .c_c_btn .c_btn {
  padding: 15px 103px;
  background-color: #4282c5;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
}

.setting_container .flex {
  display: flex;
  gap: 30px;
}

.setting_left_main_input_fields {
  margin-top: 10px;
}

.patients_notifications .notifications_container {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 20px;
}
.patients_notifications .notifications_container .notifications_head h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 20px;
}
.patients_notifications .notifications_container .user_notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 15px 0;
  border-top: 0.5px solid rgba(136, 152, 167, 0.5);
}
.patients_notifications .notifications_container .user_notification .notification .notification_detail {
  display: flex;
  gap: 10px;
}
.patients_notifications .notifications_container .user_notification .notification .notification_detail .notification_name h1 {
  margin: 0;
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.patients_notifications .notifications_container .user_notification .notification .notification_detail .notification_name p,
.patients_notifications .notifications_container .user_notification .notification .notification_detail .notification_name span {
  color: #8898A7;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 2px 0;
}
.patients_notifications .notifications_container .user_notification .notification .notification_detail .notification_name p span,
.patients_notifications .notifications_container .user_notification .notification .notification_detail .notification_name span span {
  color: #4282c5;
}
.patients_notifications .notifications_container .user_notification .notification .notification_detail .notification_name h6 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}
.patients_notifications .notifications_container .user_notification .approved_req p {
  color: rgb(43, 189, 119);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.patients_notifications .notifications_container .user_notification .cancel_req p {
  color: rgb(232, 145, 15);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.patients_notifications .notifications_container .user_notification .block_req p {
  color: rgb(237, 50, 50);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.patients_notifications .notifications_container .user_notification .update_button .update_btn,
.patients_notifications .notifications_container .user_notification .update_button .see_chat_btn,
.patients_notifications .notifications_container .user_notification .see_chat_button .update_btn,
.patients_notifications .notifications_container .user_notification .see_chat_button .see_chat_btn {
  padding: 10px 17px;
  color: #4282c5;
  border: 1px solid #4282c5;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffffff;
}

.modal-content {
  padding: 40px 60px;
  position: relative;
}
.modal-content .c_l_head h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
.modal-content .c_l_head .c_cross {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal-content .c_l_head .c_l_search_patient {
  border: 1px solid rgb(238, 238, 238);
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  margin: 15px 0 20px 0;
}
.modal-content .c_l_head .c_l_search_patient img {
  cursor: pointer;
}
.modal-content .c_l_head .c_l_search_patient .input {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 100%;
  color: #8898A7;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.modal-content .c_l_head .c_l_search_patient img {
  cursor: pointer;
}
.modal-content .c_l_img {
  position: relative;
}
.modal-content .c_l_img .bg_img {
  width: 100%;
  height: 410px;
}
.modal-content .c_l_img .c_l_zooming_btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.modal-content .c_l_img .c_l_zooming_btns .c_location {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
}
.modal-content .c_l_img .c_l_zoom_in {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgb(241, 241, 241);
  padding: 10px;
  cursor: pointer;
  margin: 0;
  text-align: center;
  margin-top: 20px;
  border: none;
  outline: none;
}
.modal-content .c_l_img .c_l_zoom_out {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #ffffff;
  padding: 9px 12px;
  cursor: pointer;
  margin: 0;
  text-align: center;
  border: none;
  outline: none;
}
.modal-content .save_c_l_btn .c_L_btn {
  margin-top: 20px;
  padding: 13px 0;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  background-color: #4282c5;
}

.modal-content {
  padding: 40px;
  position: relative;
}
.modal-content .change_theme_color_container .change_theme_color_head h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
.modal-content .change_theme_color_container .change_theme_color_head img {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal-content .change_theme_color_container .b_themes {
  display: flex;
  gap: 50px;
  padding: 30px 0;
}
.modal-content .change_theme_color_container .b_themes .left_themes,
.modal-content .change_theme_color_container .b_themes .right_themes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 255px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme,
.modal-content .change_theme_color_container .b_themes .right_themes .theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 255px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .primary,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .primary {
  padding: 7px 15px 7px 7px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .primary_light,
.modal-content .change_theme_color_container .b_themes .left_themes .theme .text_dark,
.modal-content .change_theme_color_container .b_themes .left_themes .theme .danger,
.modal-content .change_theme_color_container .b_themes .left_themes .theme .warning,
.modal-content .change_theme_color_container .b_themes .left_themes .theme .background,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .primary_light,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .text_dark,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .danger,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .warning,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .background {
  padding: 7px 25px 7px 7px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .text_medium,
.modal-content .change_theme_color_container .b_themes .left_themes .theme .success,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .text_medium,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .success {
  padding: 7px 20px 7px 7px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .text_light,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .text_light {
  padding: 7px 30px 7px 7px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme label,
.modal-content .change_theme_color_container .b_themes .right_themes .theme label {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme input,
.modal-content .change_theme_color_container .b_themes .right_themes .theme input {
  width: 30px;
  height: 30px;
  border-radius: 7px;
  padding: 3px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .color_hex,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .color_hex {
  width: 145px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  border: 1px solid rgb(227, 227, 227);
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .color_hex p,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .color_hex p {
  margin: 0;
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .primary input[type=color]::-webkit-color-swatch,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .primary input[type=color]::-webkit-color-swatch {
  background-color: #4282c5 !important;
  border: none;
  border-radius: 5px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .primary input,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .primary input {
  border: 1px solid #4282c5;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .primary_light input[type=color]::-webkit-color-swatch,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .primary_light input[type=color]::-webkit-color-swatch {
  background-color: #ecf3f9 !important;
  border: none;
  border-radius: 5px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .primary_light input,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .primary_light input {
  border: 1px solid #ecf3f9 !important;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .text_dark input[type=color]::-webkit-color-swatch,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .text_dark input[type=color]::-webkit-color-swatch {
  background-color: #02100f !important;
  border: none;
  border-radius: 5px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .text_dark input,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .text_dark input {
  border: 1px solid #02100f;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .text_medium input[type=color]::-webkit-color-swatch,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .text_medium input[type=color]::-webkit-color-swatch {
  background-color: #9a9f9f !important;
  border: none;
  border-radius: 5px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .text_medium input,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .text_medium input {
  border: 1px solid #9a9f9f;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .text_light input[type=color]::-webkit-color-swatch,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .text_light input[type=color]::-webkit-color-swatch {
  background-color: #ffffff !important;
  border: none;
  border-radius: 5px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .text_light input,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .text_light input {
  border: 1px solid #ffffff;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .success input[type=color]::-webkit-color-swatch,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .success input[type=color]::-webkit-color-swatch {
  background-color: #2bbd77 !important;
  border: none;
  border-radius: 5px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .success input,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .success input {
  border: 1px solid #2bbd77;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .danger input[type=color]::-webkit-color-swatch,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .danger input[type=color]::-webkit-color-swatch {
  background-color: #f52100 !important;
  border: none;
  border-radius: 5px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .danger input,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .danger input {
  border: 1px solid #f52100;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .warning input[type=color]::-webkit-color-swatch,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .warning input[type=color]::-webkit-color-swatch {
  background-color: #e8910f !important;
  border: none;
  border-radius: 5px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .warning input,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .warning input {
  border: 1px solid #e8910f;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .background input[type=color]::-webkit-color-swatch,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .background input[type=color]::-webkit-color-swatch {
  background-color: #fafafa !important;
  border: none;
  border-radius: 5px;
}
.modal-content .change_theme_color_container .b_themes .left_themes .theme .background input,
.modal-content .change_theme_color_container .b_themes .right_themes .theme .background input {
  border: 1px solid #fafafa;
}
.modal-content .change_theme_color_container .theme_btns {
  display: flex;
  align-items: center;
  gap: 15px;
}
.modal-content .change_theme_color_container .theme_btns .save {
  padding: 15px 45px;
  background-color: #4282c5;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
}
.modal-content .change_theme_color_container .theme_btns .reset {
  padding: 13px 25px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #4282c5;
  cursor: pointer;
  border: 1px solid #4282c5;
  border-radius: 10px;
}

.my_pending_requests .pending_requests_container .pending_requests_head .pending_requests_name {
  display: flex;
  align-items: center;
  gap: 15px;
}
.my_pending_requests .pending_requests_container .pending_requests_head .pending_requests_name img {
  cursor: pointer;
}
.my_pending_requests .pending_requests_container .pending_requests_list table tr .gap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.my_pending_requests .pending_requests_container .pending_requests_list table tr .gap img {
  cursor: pointer;
}
.my_pending_requests .pending_requests_container .pending_requests_list table tr td .pending_requests_menu .p_r_dropdown_menu {
  padding: 12px 0 12px 12px;
  border: none;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
  margin: 15px -21px 0 0;
}
.my_pending_requests .pending_requests_container .pending_requests_list table tr td .pending_requests_menu .p_r_dropdown_menu .approve,
.my_pending_requests .pending_requests_container .pending_requests_list table tr td .pending_requests_menu .p_r_dropdown_menu .cancel,
.my_pending_requests .pending_requests_container .pending_requests_list table tr td .pending_requests_menu .p_r_dropdown_menu .block {
  color: rgb(43, 189, 119);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  --bs-dropdown-link-active-bg: none;
  --bs-dropdown-link-hover-bg: none;
  --bs-dropdown-link-hover-color: none;
  padding: 0;
}
.my_pending_requests .pending_requests_container .pending_requests_list table tr td .pending_requests_menu .p_r_dropdown_menu .cancel {
  color: rgb(232, 145, 15);
  margin: 10px 0;
}
.my_pending_requests .pending_requests_container .pending_requests_list table tr td .pending_requests_menu .p_r_dropdown_menu .block {
  color: rgb(237, 50, 50);
}
.my_pending_requests .pending_requests_container .pending_requests_list table tr td .pending_requests_menu .p_r_dropdown_menu .p_r_top_face {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 3px;
  position: absolute;
  right: 14px;
  top: -6px;
  transform: rotate(45deg);
}

.pending_resquests_dialog_modal .modal-content {
  padding: 50px 30px 30px 30px;
  position: relative;
}
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_head {
  text-align: center;
}
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_head h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
}
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_head .p_r_cross {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_input_fields,
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_flex_input_fields {
  width: 100%;
}
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_input_fields .inputs,
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_flex_input_fields .inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_input_fields .inputs label,
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_flex_input_fields .inputs label {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_input_fields .inputs .input,
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_flex_input_fields .inputs .input {
  padding: 15px;
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  border: 1px solid rgba(136, 152, 167, 0.5);
  border-radius: 10px;
  width: 100%;
  margin: 5px 0 20px 0;
}
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_input_fields .p_r_flex_input_fields,
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_flex_input_fields .p_r_flex_input_fields {
  display: flex;
  gap: 20px;
}
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_buttons .p_r_approve,
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_buttons .p_r_cancel,
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_buttons .p_r_block {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 30px;
  background-color: rgb(43, 189, 119);
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_buttons .p_r_cancel {
  color: rgb(232, 145, 15);
  background-color: rgb(253, 244, 231);
}
.pending_resquests_dialog_modal .modal-content .p_r_container .p_r_buttons .p_r_block {
  color: rgb(237, 50, 50);
  background-color: rgb(253, 235, 235);
}

.medcom_chat .chat_container {
  background-color: #ffffff;
  padding: 0 20px 0 10px;
  border-radius: 10px;
}
.medcom_chat .chat_container .chat_list {
  width: 300px;
}
.medcom_chat .chat_container .chat_list .logs {
  height: calc(100vh - 205px);
  overflow-y: scroll;
}
.medcom_chat .chat_container .chat_list .chat_list_head h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.medcom_chat .chat_container .chat_list .internal_chat_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.medcom_chat .chat_container .chat_list .internal_chat_list .internal {
  display: flex;
  align-items: center;
  gap: 10px;
}
.medcom_chat .chat_container .chat_list .internal_chat_list .internal img {
  cursor: pointer;
}
.medcom_chat .chat_container .chat_list .internal_chat_list .internal h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.medcom_chat .chat_container .chat_list .internal_chat_list .see_all_chats p {
  color: rgb(122, 163, 245);
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
  cursor: pointer;
}
.medcom_chat .chat_container .chat_list .admin_chat {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.medcom_chat .chat_container .chat_list .admin_chat .admin_detail {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.medcom_chat .chat_container .chat_list .admin_chat .admin_detail .admin_sms_timming {
  display: flex;
  justify-content: space-between;
}
.medcom_chat .chat_container .chat_list .admin_chat .admin_detail .admin_sms_timming h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.medcom_chat .chat_container .chat_list .admin_chat .admin_detail .admin_sms_timming p {
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.medcom_chat .chat_container .chat_list .admin_chat .admin_detail .admin_sms p {
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.medcom_chat .chat_container .chat_list .admin_chat .admin_detail .dr_sms {
  display: flex;
  align-items: center;
  gap: 22px;
}
.medcom_chat .chat_container .chat_list .admin_chat .admin_detail .dr_sms span {
  padding: 2px 5px;
  background-color: red;
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 50px;
  font-size: 7px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.modal-content {
  padding: 30px;
  position: relative;
}
.modal-content .refer_container .reifer_head h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.modal-content .refer_container .reifer_head img {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
}
.modal-content .refer_container .refer_input {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  align-items: center;
  margin: 20px 0;
}
.modal-content .refer_container .refer_input .input {
  padding: 15px;
  color: #8898A7;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
}
.modal-content .refer_container .refer_detail table {
  width: 100%;
}
.modal-content .refer_container .refer_detail table tr th input {
  margin-right: 15px;
}
.modal-content .refer_container .refer_detail table tr .gap {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}
.modal-content .refer_container .refer_detail table tr td {
  padding-top: 20px;
}
.modal-content .refer_container .refer_detail .refer_button {
  margin-top: 30px;
}
.modal-content .refer_container .refer_detail .refer_button .refer_btn {
  padding: 13px 45px;
  background-color: #4282c5;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 10px;
}

.splash_container {
  background-color: #4282c5;
  width: 100%;
  height: 100vh;
}
.splash_container .splash_img {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_media {
  width: 310px;
}
.chat_media .media_container {
  padding: 65px 40px;
}
.chat_media .media_container .media_head {
  text-align: center;
  position: relative;
}
.chat_media .media_container .media_head h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
}
.chat_media .media_container .media_head p {
  background-color: rgb(48, 180, 85);
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  position: absolute;
  right: 82px;
  top: -3px;
}
.chat_media .media_container .attachments {
  margin: 30px 0;
}
.chat_media .media_container .attachments .attachments_head h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.chat_media .media_container .attachments .some_files {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 10px 0;
}
.chat_media .media_container .attachments .some_files .source_files {
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.chat_media .media_container .attachments .some_files .all_files {
  color: rgb(122, 163, 245);
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.chat_media .media_container .attachments .pdf_files .files {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chat_media .media_container .attachments .pdf_files .files .file {
  display: flex;
  align-items: center;
  gap: 10px;
}
.chat_media .media_container .attachments .pdf_files .files .file p {
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.chat_media .media_container .gallery .gallery_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat_media .media_container .gallery .gallery_head h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.chat_media .media_container .gallery .gallery_head p {
  color: rgb(122, 163, 245);
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.chat_media .media_container .gallery .gallery_imgs {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 10px;
  margin-top: 15px;
}

.chat_main_layout {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px 20px 20px 10px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  height: calc(100vh - 117px);
  width: 100%;
}
.chat_main_layout .log_chats {
  display: flex;
  gap: 15px;
  width: 100%;
}
.chat_main_layout .log_chats .long_chat {
  width: 100%;
}
.chat_main_layout .log_chats .chat_boxes {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.main_chat {
  border: 1px solid #4282c5;
  border-radius: 10px;
}
.main_chat .j_c_head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(66, 130, 197, 0.1);
}
.main_chat .j_c_head .j_c_active_status {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main_chat .j_c_head .j_c_active_status .j_c_status {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.main_chat .j_c_head .j_c_active_status .j_c_status h1 {
  color: rgb(2, 16, 15);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.main_chat .j_c_head .j_c_active_status .j_c_status p {
  color: rgb(48, 180, 85);
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.main_chat .j_c_head .j_c_basic_detail .j_c_icons {
  display: flex;
  gap: 15px;
}
.main_chat .j_c_head .j_c_basic_detail .j_c_icons .j_c_detail,
.main_chat .j_c_head .j_c_basic_detail .j_c_icons .j_c_screen_zoom_out,
.main_chat .j_c_head .j_c_basic_detail .j_c_icons .j_c_screen_zoom_im,
.main_chat .j_c_head .j_c_basic_detail .j_c_icons .j_c_dialogs {
  cursor: pointer;
}
.main_chat .j_c_head .j_c_basic_detail .j_c_icons .j_c_menu {
  border: none;
  padding: 0;
  background-color: transparent;
  --bs-btn-focus-box-shadow: 0;
}
.main_chat .j_c_head .j_c_basic_detail .j_c_icons .j_c_dropdown_menu {
  padding: 0;
  border: none;
}
.main_chat .j_c_head .j_c_basic_detail .j_c_icons .j_c_dropdown_menu .refer,
.main_chat .j_c_head .j_c_basic_detail .j_c_icons .j_c_dropdown_menu .modify_access {
  --bs-dropdown-link-active-bg: none;
  --bs-dropdown-link-hover-bg: none;
  --bs-dropdown-link-active-color: none;
  padding: 0;
}
.main_chat .j_c_head .j_c_basic_detail .j_c_icons .j_c_dropdown_menu {
  padding: 12px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
}
.main_chat .j_c_head .j_c_basic_detail .j_c_icons .j_c_dropdown_menu .refer,
.main_chat .j_c_head .j_c_basic_detail .j_c_icons .j_c_dropdown_menu .modify_access {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.main_chat .vertically_chat_screen .twice_chat {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.main_chat .vertically_chat_screen .twice_chat .receive_chat {
  text-align: left;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main_chat .vertically_chat_screen .twice_chat .receive_chat .receive_sms {
  position: relative;
}
.main_chat .vertically_chat_screen .twice_chat .receive_chat .receive_sms p {
  padding: 10px;
  background-color: #4282c5;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.main_chat .vertically_chat_screen .twice_chat .receive_chat .receive_sms .empty {
  background-color: #4282c5;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  position: absolute;
  left: 12px;
  bottom: -3px;
}
.main_chat .vertically_chat_screen .twice_chat .receive_chat .staff_time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_chat .vertically_chat_screen .twice_chat .receive_chat .staff_time .time {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.main_chat .vertically_chat_screen .twice_chat .receive_chat .staff_time .staff_name p {
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 8px;
  font-weight: 400;
}
.main_chat .vertically_chat_screen .twice_chat .receive_chat .staff_time .time p {
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 8px;
  font-weight: 400;
}
.main_chat .vertically_chat_screen .twice_chat .send_chat {
  text-align: right;
  width: 225px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main_chat .vertically_chat_screen .twice_chat .send_chat .send_sms p {
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(241, 241, 241);
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.main_chat .vertically_chat_screen .twice_chat .send_chat .send_sms_time p {
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 8px;
  font-weight: 400;
}
.main_chat .vertically_chat_screen .twice_chat .send_chat .send_sms_time .access_sms_timing {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  justify-content: end;
}
.main_chat .vertically_chat_screen .twice_chat .access_notification {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 225px;
}
.main_chat .vertically_chat_screen .twice_chat .access_notification .access_sms p {
  color: #4282c5;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 30px;
  background-color: rgb(236, 243, 249);
  border: 1px solid #4282c5;
  border-radius: 5px;
  text-align: center;
}
.main_chat .vertically_chat_screen .twice_chat .access_notification .access_sms_timing {
  display: flex;
  gap: 5px;
  justify-content: end;
  align-items: flex-start;
  align-items: center;
}
.main_chat .vertically_chat_screen .twice_chat .access_notification .access_sms_timing p {
  color: #9a9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.main_chat .vertically_chat_screen .twice_chat .imgs {
  display: flex;
  gap: 5px;
  align-items: center;
  float: right;
}
.main_chat .vertically_chat_screen .twice_chat .chat_suggestions {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.main_chat .vertically_chat_screen .twice_chat .chat_suggestions .suggestion_1,
.main_chat .vertically_chat_screen .twice_chat .chat_suggestions .suggestion_2 {
  display: flex;
  gap: 5px;
  align-items: center;
}
.main_chat .vertically_chat_screen .twice_chat .chat_suggestions .suggestion_1 p,
.main_chat .vertically_chat_screen .twice_chat .chat_suggestions .suggestion_2 p {
  padding: 5px 10px;
  color: #4282c5;
  background-color: rgb(236, 243, 249);
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.main_chat .vertically_chat_screen .twice_chat .appointment_notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 243, 249);
  padding: 10px;
  border: 1px solid #4282c5;
  border-radius: 5px;
}
.main_chat .vertically_chat_screen .twice_chat .appointment_notification p {
  color: #4282c5;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.main_chat .test_msg {
  display: flex;
  padding: 5px;
  border-top: 1px solid rgb(201, 201, 201);
}
.main_chat .test_msg .attach_file img {
  padding: 0 10px 0 5px;
  cursor: pointer;
}
.main_chat .test_msg .text_smg {
  width: 100%;
}
.main_chat .test_msg .text_smg .input {
  width: 100%;
  border: none;
  outline: none;
  color: rgb(119, 131, 143);
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
  padding: 7px 10px;
  border-left: 1px solid rgb(201, 201, 201);
}
.main_chat .test_msg .send_sms img {
  padding: 10px;
  background-color: #4282c5;
  border-radius: 5px;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

h1,
p {
  margin: 0;
}

.dropdown-toggle::after {
  content: none;
}

.error {
  color: red;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}/*# sourceMappingURL=index.css.map */