@import "register";
@import "login";
@import "forgotpassworddialog";
@import "checkemaildialog";
@import "mainlayout";
@import "sidebar";
@import "header";
@import "home";
@import "staff";
@import "addnewstaffdialog";
@import "deletestaffdialog";
@import "patients";
@import "broadcastDialog";
@import "setting";
@import "notifications";
@import "cliniclocationdialog";
@import "changethemecolor";
@import "pengingRequests";
@import "pendingResquestDialog";
@import "chatLogs";
@import "referDialog";
@import "variables";
@import "splash";
@import "dummy";
@import "mainchat";
@import "chatboxes";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
}
h1,
p {
  margin: 0;
}
.dropdown-toggle::after {
  content: none;
}
.error {
  color: red;
  font-family: $poppins;
  font-size: 14px;
  font-weight: 400;
  // margin-top: 5px;
}
